@import uk.gov.ons.addressIndex.model.server.response.AddressInformation
@(address: AddressInformation)(implicit messages: Messages)

<div class="match-conf">@messages("single.matchscore"): @("%.2f".format(address.underlyingScore))
    @defining(if ((address.underlyingScore / address.underlyingMaxScore) * 100 > 70) "#c6ffb3" else "#ffcccc") { color: String =>
        <span style="background-color: @color">
            (@{"%.2f".format((address.underlyingScore / address.underlyingMaxScore) * 100)}%)
        </span>
    }
</div>