---
swagger: "2.0"
info:
  title: ONS Address Index API
  description: The ONS Address Index API lets you retrieve the official version of addresses in England and Wales. The data is currently updated on a 6 week rolling basis.
  version: see /version below
consumes:
- application/json
produces:
- application/json
definitions:
  uk.gov.ons.addressIndex.model.server.response.address.AddressBySearchResponse:
    properties:
      tokens:
        type: array
        items:
          $ref: '#/definitions/Token'
  uk.gov.ons.addressIndex.model.server.response.bulk.AddressBulkResponseAddress:
    properties:
      tokens:
        type: array
        items:
          $ref: '#/definitions/Token'
  Token:
    type: object
    properties:
      value:
        type: string
      label:
        type: string
        enum: ['OrganisationName','DepartmentName','SubBuildingName','BuildingName','BuildingNumber','StreetName','Locality','TownName','Postcode']
  AddressBulkResponse:
    properties:
      apiVersion:
        type: string
      dataVersion:
        type: string
      bulkAddresses:
        type: array
        items:
          properties:
            id:
              type: string
            inputAddress:
              type: string
            uprn:
              type: string
            matchedFormattedAddress:
              type: string
            tokens:
              type: array
              items:
                $ref: '#/definitions/Token'
            underlyingScore:
              type: number
              format: float
            confidenceScore:
              type: number
              format: double
          required:
          - id
          - inputAddress
          - uprn
          - matchedFormattedAddress
          - tokens
          - score
      status:
        "$ref": "#/definitions/uk.gov.ons.addressIndex.model.server.response.address.AddressResponseStatus"
      errors:
        type: array
        items:
          "$ref": "#/definitions/uk.gov.ons.addressIndex.model.server.response.address.AddressResponseError"
    required:
    - apiVersion
    - dataVersion
    - bulkAddresses
    - status
    - errors
