
#submit_giff {
    position: absolute;
    width: 100%;
    height: 282px;
    z-index: 9999;
    display: none;
    color: rgba(0, 0, 0, 0.66);
    text-align: center;
    line-height: 279px;
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px rgba(255, 255, 255, 0.57);
}

#namealert, #passal {
    margin: 0 37px;
    color: rgba(68, 68, 68, 0.78);
    display: none;
}

#namealert {
    margin-top: 13px;
    margin-bottom: 1px;
}

#logintxt,#name,#pass,#loginbtn {
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

#name {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 44px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#pass {
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 8px;
    margin: 16px auto;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    color: #838383;
    width: 409px;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    height: 44px;
    font-size: 16px;
    text-align: left;
}

#name:hover,#pass:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

#logintxt {
    margin: 0px;
    padding: 3px 0px 9px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    background: #76ABDB;
    font-size: 22px;
}

#loginbtn {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    display: inline-block;
    line-height: 23px;
    padding: 5px 18px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(222, 135, 4, 0.93);
    border-color: rgba(222, 135, 4, 0.93);
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #fff;
    position: absolute;
    right: 9px;
    bottom: 9px;
    font-size: 17px;
    width: 103px;
    height: 35px;
    outline: none;
    cursor: pointer;
}

#userbox {
    position: relative;
    width: 480px;
    height: 324px;
    background: white;
    top: 50%;
    margin-top: 20%;
    margin-bottom: 10%;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

body {
    width: 100%;
    height: 100%;
    min-width: 300px;
    min-height: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    background: #fff;
    color: #333;
}


body,input,select,td,textarea {
    font-family: "Open Sans",sans-serif;
}

#loginbtn:hover {
    background: #329e05;
    border-color:#329e05;
}