.deps/
.libs/
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
INSTALL
install-sh
lib/Makefile
lib/Makefile.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
sample/.deps/
sample/Makefile
sample/Makefile.in
sample/sample
stamp-h1
