.libs/
*.la
*.lo
*.o
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
frontend/.deps/
frontend/crfsuite
frontend/Makefile
frontend/Makefile.in
genbinary.sh
include/Makefile
include/Makefile.in
install-sh
lib/cqdb/.deps/
lib/cqdb/Makefile
lib/cqdb/Makefile.in
lib/crf/.deps/
lib/crf/Makefile
lib/crf/Makefile.in
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
stamp-h1
swig/Makefile
swig/Makefile.in
swig/perl/Makefile.PL
swig/python/setup.py
