@import uk.gov.ons.addressIndex.demoui.controllers.routes

@(userLang: String)

@if(userLang == "cy") {
    <article>
        <h1 class="jupiter">Anghofio cyfrinair</h1>
        <p>Os ydych chi'n ansicr ynghylch eich manylion mewngofnodi, bydd angen i chi ailosod eich cyfrinair.</p>
        <p>Mae angen i gyflwyno ffoniwch ddesg gymorth i ailosod eich cyfrinair ddefnyddwyr Swyddfa Ystadegau Gwladol. Defnyddwyr allanol, cysylltwch â ni i gael mynediad at eich cyfrif.</p>
        <p><a href="@{routes.ApplicationHomeController.login}">Ôl i lofnodi Tudalen</a></p>
    </article>
}else{
    <article>
        <h1 class="jupiter">Forgot password</h1>
        <p>If you're unsure of your sign in details, you may need to reset your password.</p>
        <p>ONS users need to submit a Service Desk call to reset your password. External users, please contact us to access your account.</p>
        <p><a href="@{routes.ApplicationHomeController.login}">Back to sign in page</a></p>
    </article>
}