@import uk.gov.ons.address.model.SingleMatchResponse
@import uk.gov.ons.address.conf.OnsFrontendConfiguration
@(singleMatchResponse: Option[SingleMatchResponse], singleSearchForm: Form[uk.gov.ons.address.model.SingleSearchForm], warningMessage : Option[String], conf: OnsFrontendConfiguration)(implicit messages: Messages)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = "ONS-Address - Single Search") {
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading sub-nav-heading">
        @common.navigation(conf)
        </div>
        @warningMessage.map { message =>
        <div class="panel panel-default address-panel">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><strong>@message</strong></div>
            </div>
        </div>
        }
        <div class="panel panel-default address-panel">
            <h4 class="page-info">Find an address<span class="sub-info"></span></h4>
            <div class="page-description-row">
                <div class="col-md-2 text-right"><a href="#"><i data-toggle="modal" data-target="#docModal" class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></div>
            </div>
            <p class="page-info"></p>
            <div class="panel-body">
                <form id="search-form">
                    <div class="input-group">
                        <fieldset class="form-group text-right">
                            <label>
                                <input type="text" class="form-control" name="q" placeholder="E.g. 169 Portsmouth Road Southampton SO19 9BG"/>
                            </label>
                        </fieldset>
                    </div>
                    <div class="input-group">
                        <fieldset class="form-group text-right">
                            <button id="clearElasticSearchForm" class="btn btn-info btn-clean" type="button">
                                Clear
                            </button>
                            <button class="btn btn-success btn-search" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </fieldset>
                    </div>
                </form>
                @**
                @helper.form(action = uk.gov.ons.address.controllers.routes.SingleMatch.doSingleMatch) {
                <div class="input-group">
                    @forms.singleSearchForm(singleSearchForm)

                </div>
                }
                **@
            </div>
        </div>
        <div class="row bulk-results">
            <div class="col-md-12 doughnut text-center">
                <div class="hidden" id="results">
                    <h3>Results</h3>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="docModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
      $(document).ready(function() {
            var $form = $('#search-form');
            $form.submit(function(evt) {
                evt.preventDefault();
                $('#results').empty();
                $.get('/api/addresses?' + $form.serialize(), function(resp) {
                    var $results = $('#results');
                     $results.removeClass('hidden');
                     $.each(JSON.parse(resp), function(i, e) {

                        var item = $('<address class="pull-left">' + e.buildingNumber + ' ' + e.thoroughfare + ' ' + e.postcode + '</address>');

                        $results.append(item);
                     });
                });
            });
        });
</script>
}