@charset "UTF-8";

.main {
    padding: 32px 0 0 0;
    padding: 1.778rem 0 0 0;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  height: auto;
}

.group {
        padding: 0 16px 0 0;
}

.group::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding-left: 16px;
  height: auto;
  box-sizing: border-box;
        -moz-box-sizing:border-box;
        -o-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
}

.col-1 {
        width: 8.33%;
}

.col-2 {
        width: 16.66%;
}

.col-3 {
        width: 25%;
}

.col-4 {
        width: 33.33%;
}

.col-5 {
        width: 41.66%;
}

.col-6 {
        width: 50%;
}
.col-7 {
        width: 58.33%;
}

.col-8 {
        width: 66.66%;
}
.col-9 {
        width: 75%;
}
.col-10 {
        width: 83.33%;
}

.col-11 {
        width: 91.66%;
}

.col-12 {
        width: 100%;
}

@media only screen and (max-width: 1279px) {

    .wrapper {
            max-width: 1008px;
    }

}

@media only screen and (max-width: 767px) {

    .wrapper {
            max-width: 600px;
    }

    .col-1 {
                   width: 100%;
    }

    .col-2 {
            width: 100%;
    }

    .col-3 {
            width: 100%;
    }

    .col-4 {
            width: 100%;
    }

    .col-5 {
            width: 100%;
    }

    .col-6 {
            width: 100%;
    }

    .col-7 {
            width: 100%;
    }

    .col-8 {
            width: 100%;
    }

    .col-9 {
            width: 100%;
    }

    .col-10 {
            width: 100%;
    }

    .col-11 {
            width: 100%;
    }

    .col-12 {
            width: 100%;
    }

}
