@import uk.gov.ons.address.conf.OnsFrontendConfiguration
@(config: OnsFrontendConfiguration)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = "ONS-Address") {
    <div class="container">
        <div class="row">
            <div class="col-md-10"><h2 class="panel-title">ONS Address Matching Service <span class="beta">Beta</span></h2></div>
            <div class="col-md-2 text-right"><a href="#"><i data-toggle="modal" data-target="#myModal" class="fa fa-question-circle fa-2x" aria-hidden="true"></i></a></div>
        </div>
        <p>This service allows you to search for an individual address, match a batch of addresses from a selected file
            or to extract address lists from the database.</p>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-6 col-md-4 index-nav">
                    <div class="thumbnail text-center">
                        <a href="addresses"><i class="fa fa-search fa-5x index-nav-icon" aria-hidden="true"></i></a>
                    </div>
                    <div class="caption">
                        <h4><a href="addresses">Find an address </a></h4>
                        <p class="index-p text-left">
                            <a href="addresses">
                                This feature allows you to match for a single address.
                            </a>
                        </p>
                    </div>
                </div>
         <!--       <div class="col-sm-6 col-md-4 index-nav">
                    <div class="thumbnail text-center">
                        <a href="addresses/bulk"><i class="fa fa-files-o fa-5x index-nav-icon" aria-hidden="true"></i></a>
                    </div>
                    <div class="caption">
                        <h4><a href="addresses/bulk">Match multiple addresses</a></h4>
                        <p class="index-p text-left">
                            <a href="addresses/bulk">
                                This feature allows you to upload a batch of addresses for matching.
                            </a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 index-nav">
                    <div class="thumbnail text-center">
                        <a href="@(config.onsApiProposeNewAddressUri)/addresses/propose/new/address/form"><i class="fa fa-pencil-square-o fa-5x index-nav-icon" aria-hidden="true"></i></a></div>
                    <div class="caption">
                        <h4><a href="@(config.onsApiProposeNewAddressUri)/addresses/propose/new/address/form">Propose new address</a></h4>
                        <p class="index-p text-left">
                            <p>This feature allows you to submit addresses to be considered for the national list.</p>
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">ONS ADDRESS MATCHING SERVICE - Beta Sprint 2 November 2016</h4>
                        </div>
                        <div class="modal-body">
                          <!--  <p>This first prototype of the ONS Address Matching Service allows the user to search for a
                                single address or a batch of addresses. The search is performed on the Geoplace/OS
                                'AddressBase' product which includes a comprehensive list of all addresses in the United
                                Kingdom.</p>
                            <p>Both the single and batch match return a 'Unique Property Reference Number' (UPRN) for each
                                matched address and an indicator of match quality. If there is any uncertainty about the
                                match the user is able to select from a set of proposed options. If an address is not found
                                in the database an option allows the user to feedback a new address to be considered for
                                inclusion in the national list.</p>
                            <p>The user is also able to load 'attributes' to be associated with each address in the database.
                                Examples of attributes might include which properties have broadband or are in multiple
                                occupation. A further function allows the user to produce filtered extracts from the address
                                database - for example to draw a sample frame for a survey.</p>
                            <p>The alpha was built by a team consisting of Kainos and ONS staff between April and June 2016
                                For more details contact <strong><a href="mailto:address.register@@ons.gov.uk">
                                    address.register@@ons.gov.uk</a></strong>
                            </p>-->
                            <p>Wibble</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
