@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <script  type="text/javascript" src='@routes.Assets.versioned("/lib/jquery/jquery.min.js")'></script>
        <script  type="text/javascript" src='@routes.Assets.versioned("/lib/bootstrap/js/bootstrap.min.js")'></script>
        <script  type="text/javascript" src='@routes.Assets.versioned("/lib/jasny-bootstrap/js/jasny-bootstrap.min.js")'></script>
        <link rel='stylesheet' href='@routes.Assets.versioned("/lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("/lib/font-awesome/css/font-awesome.min.css")'>
        <link rel='stylesheet' href='@routes.Assets.versioned("/lib/jasny-bootstrap/css/jasny-bootstrap.min.css")'>

        <script type="text/javascript"src='@routes.Assets.versioned("javascript/main.js")'></script>

        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/style.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.ico")'>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 logo">
                    <img alt="ONS" src="/assets/images/ons-logo.png" width="204" height="auto">
                </div>
                <div class="col-md-10 alpha-header">
                    <p><strong class="beta-banner">Beta</strong></p>
                </div>
            </div>
        </div>
    </nav>
    <section class="content">@content</section>
    </body>
</html>
