@import uk.gov.ons.address.model.SingleMatchResponse
@import uk.gov.ons.address.conf.OnsFrontendConfiguration
@(singleMatchResponse: Option[SingleMatchResponse], singleSearchForm: Form[uk.gov.ons.address.model.SingleSearchForm], warningMessage : Option[String], conf: OnsFrontendConfiguration)(implicit messages: Messages)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = "ONS-Address - Single Search") {
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading sub-nav-heading">
        @common.navigation(conf)
        </div>
        @warningMessage.map { message =>
        <div class="panel panel-default address-panel">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><strong>@message</strong></div>
            </div>
        </div>
        }
        <div class="panel panel-default address-panel">
            <h4 class="page-info">Find an address<span class="sub-info"></span></h4>
            <div class="page-description-row">
                <div class="col-md-2 text-right"><a href="#"><i data-toggle="modal" data-target="#docModal" class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a></div>
            </div>
            <p class="page-info"></p>
            <div class="panel-body">
                @helper.form(action = uk.gov.ons.address.controllers.routes.SingleMatch.doSingleMatch) {
                <div class="input-group">
                    @forms.singleSearchForm(singleSearchForm)
                </div>
                }
            </div>
        </div>
            @singleMatchResponse.map { response =>
            @if(response.totalHits > 0){
            <div class="panel panel-default address-panel">
                <div class="result-content">
                    <div class="form-group">
                        <div class="alert alert-info">
                            <h4> Total No. of Hits : @response.totalHits</h4>
                            Your search criteria was run against the indexed AddressBase.
                            The top 10 results are listed below.
                        </div>
                        @response.candidate.map{ address =>
                        <div class="panel panel-default address-panel">
                            <div class="result-content">
                                <div class="alert alert-success" role="alert">
                                    <p class="match-found-txt"><strong>Match found</strong></p>
                                    <p class="match-score"><strong>Elasticsearch matching
                                        score: @address.matchScore</strong></p>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Address details</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-2">UPRN</td>
                                        <td class="col-md-8">
                                            <a href="http://address.openregister.org/address/@address.uprn"
                                               target="_blank"
                                               title="Open Register"> @address.uprn
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Primary Address</td>
                                        <td>@address.primaryAddress</td>
                                    </tr>
                                    <tr>
                                        <td>Secondary Address</td>
                                        <td>@address.secondaryAddress</td>
                                    </tr>
                                    <tr>
                                        <td>Street</td>
                                        <td>@address.streetDescription</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode</td>
                                        <td>@address.postcodeLocator</td>
                                    </tr>
                                    <tr>
                                        <td>Town</td>
                                        <td>@address.town</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <p>This data is available as: <a
                                     href="http://localhost:8080/addresses/{{searchText}}.json">
                                 <span class="label label-info"> Json </span></a>
                             </p>-->
                        </div>}
                </div>
                </div>
            </div>}
            @if(response.totalHits == 0){
            <div class="panel panel-default address-panel">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><strong>No match found</strong></div>
            </div>
        </div>}
        }

    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="docModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
        var lastadd = '';
        document.getElementById('address').addEventListener('input', e => {
            const features = parseAddressFeatures(e.target.value);
            if (!features) {
                return;
            }
            if  (features == lastadd){
                return;
            }
            lastadd = features;
            const username = 'demoui';
            const password = 'qu8cb6tkphlmx8epgq';
            const query = buildQuery(features.buildingNumber, features.postcode);
            const queryOptions = buildQueryOptions(username, password, query);
            const url = 'http://06aee33092e6d4a954130175b435d54b.eu-west-1.aws.found.io:9200/paf/address/_search';
            fetch(url, queryOptions).then(response => response.json()).then(response => {
                console.log(response);
                const container = document.createElement('div');
                const match = document.createElement('div');
                const address = response.hits.hits[0]._source;
                console.log(address);
                match.innerText = `${address.buildingNumber}, ${address.thoroughfare} ${address.postTown} ${address.postcode}`;
                document.body.appendChild(container);
                container.appendChild(match);
            });
        });

        function buildQuery(buildingNumber, postcode) {
            return {
                "query": {
                    "bool": {
                        "must": [{
                            "match": {
                                buildingNumber
                            }
                        }, {
                            "match": {
                                postcode
                            }
                        }]
                    }
                }
            };
        }

        function buildCredentials(username, password) {
            const credentials = btoa(`${username}:${password}`);
            return credentials;
        }

        function buildQueryOptions(username, password, query) {
            const credentials = buildCredentials(username, password);
            const headers = {
                authorization: `Basic ${credentials}`,
            };
            const options = {
                method: 'POST',
                headers,
                body: JSON.stringify(query)
            };
            return options;
        }

        function parseAddressFeatures(s) {
            const regexp = /^(\d+).*([A-PR-UWYZ0-9][A-HK-Y0-9][AEHMNPRTVXY0-9]?[ABEHMNPRVWXY0-9]? {1,2}[0-9][ABD-HJLN-UW-Z]{2}|GIR 0AA)$/i
            const matches = regexp.exec(s);
            if (!matches) {
                return;
            }
            return {
                buildingNumber: matches[1],
                postcode: matches[2]
            }
        }
    </script>
}
