@import uk.gov.ons.addressIndex.model.db.index.ExpandedRelative
@import uk.gov.ons.addressIndex.parsers.Tokens
@import java.text.SimpleDateFormat

@import uk.gov.ons.addressIndex.model.server.response.address.AddressResponseAddress

@(
address: AddressResponseAddress,
startdate: String,
enddate: String,
classification: Option[Map[String, String]],
expandedRels: Option[Seq[ExpandedRelative]],
tokens: Map[String, String] = Map.empty[String, String],
isClerical: Boolean = false
)(implicit messages: Messages)

    <div class="result-content">
        <div class="alert alert-success">
            <h1 class="jupiter">@address.formattedAddress</h1>
            <section class="address-result-header mars">
                @if(address.countryCode != "N") {
                <span class="address-result-header-type">
                    <span class='@address.nag.map{ nag => @messages("logical.class"+nag(0).logicalStatus) }'
                      title='@address.nag.map{ nag => @messages("logical."+nag(0).logicalStatus) }'>
                                &nbsp;@address.nag.map{ nag => @messages("logical."+nag(0).logicalStatus) }&nbsp;
                    </span>
                </span>
                }
                <span class="address-result-header-uprn uprn-txt">@messages("single.uprn") &nbsp;<span class="venus">@address.uprn</span></span>
                @if(address.geo.isEmpty) {
                @if(address.nag.isEmpty) {
                <span class="map-link-txt">
                    <a href="https://maps.google.com/?q=@address.paf.map { paf =>50.855,-1.18@paf.buildingNumber&ll=50.855,-1.18@paf.buildingNumber&z=20&t=h }" target="_blank">@messages("postcode.openmap")</a>
                </span>
                } else {
                <span class="map-link-txt">
                    <a href="https://maps.google.com/?q=50.855,-1.187&ll=50.855,-1.187&z=20&t=h" target="_blank">@messages("postcode.openmap")</a>
                </span>
                }
                } else {
                <span class="map-link-txt">
                    <a href="https://maps.google.com/?q=@address.geo.map { geo => @geo.latitude,@geo.longitude&ll=@geo.latitude,@geo.longitude&z=20&t=h }" target="_blank">@messages("postcode.openmap")</a>
                </span>
                }

            </section>

            <p class="venus"><a href='@{uk.gov.ons.addressIndex.demoui.controllers.routes.RadiusController.doMatchWithInput("Add search term", None, Some("5"), address.geo.map { geo => geo.latitude.toString}, address.geo.map { geo => geo.longitude.toString}, None, Some(true), Some(5), Some(startdate), Some(enddate))}'>Radius search from this location</a></p>

            @if(address.countryCode != "N") {
            <section class="infobox-standard">
                <table class="address-result-table mars">
                    <tr>
                        <td>@messages("addressresult.la_address")</td>
                        <td class="venus">@address.formattedAddressNag</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.postal_address_file")</td>
                        <td class="venus">@address.formattedAddressPaf</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.welsh_language_nag")</td>
                        <td class="venus">@address.welshFormattedAddressNag</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.welsh_language_paf")</td>
                        <td class="venus">@address.welshFormattedAddressPaf</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.classification")</td>
                        <td class="venus">@if(address.classificationCode.isEmpty) {
                            @messages("category.notfound")
                            } else {
                            @address.nag.map { nag =>
                            @classification.getOrElse(Map.empty).getOrElse(address.uprn, "")
                            }
                            }</td>
                    </tr>
                    }
                    @if(address.nisra.isEmpty) {
                    <tr>
                        <td>@messages("addressresult.la")</td>
                        <td class="venus">@address.nag.map{ nag => @nag(0).localCustodianName }</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.la_code")</td>
                        <td class="venus">@address.nag.map{ nag => @nag(0).localCustodianGeogCode}</td>
                    </tr>
                    } else {
                    <section class="infobox-standard">
                        <table class="address-result-table mars">
                    <tr>
                        <td>@messages("addressresult.ni_ab_classification")</td>
                        <td class="venus">@if(address.classificationCode.isEmpty) {
                            @messages("category.notfound")
                            } else {
                              @classification.getOrElse(Map.empty).getOrElse(address.uprn, "")
                            }</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.ni_lps_classification")</td>
                        <td class="venus">@address.nisra.map{ nisra => @nisra.classificationCode }</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.ni_lps_addressstatus")</td>
                        <td class="venus">@address.nisra.map{ nisra => @nisra.addressStatus }</td>
                    </tr>
                    <tr>
                        <td>@messages("addressresult.ni_lps_buildingstatus")</td>
                        <td class="venus">@address.nisra.map{ nisra => @nisra.buildingStatus }</td>
                    </tr>
                    }
                </table>
            </section>

            @if(address.countryCode != "N") {
            @if(address.nag.map { nag => nag(0).logicalStatus }.contains("8")) {
            <div class="resultRow">
                <strong>@messages("single.enddate"): </strong>&nbsp;@address.nag.map { nag => @(new SimpleDateFormat("yyyy-MM-dd").format(new SimpleDateFormat("yyyy-MM-dd").parse(nag(0).lpiEndDate))) }
            </div>
            }
            }

            @if(isClerical == true){
                <section class="address-result-clerical">
                    <h2 class="saturn">@messages("clerical.addinfo")</h2>

                    <table class="address-result-table mars">
                        @if(address.countryCode != "N") {
                            <tr>
                                <td>@messages("clerical.logicalstatus")</td>
                                <td class="venus">@address.nag.map { nag => @messages("logical." + nag(0).logicalStatus) }</td>
                            </tr>

                            @if(address.nag.map { nag => nag(0).logicalStatus }.contains("8")) {
                                <tr>
                                    <td>@messages("single.enddate"): </td>
                                    <td class="venus">@address.nag.map { nag => @(new SimpleDateFormat("yyyy-MM-dd").format(new SimpleDateFormat("yyyy-MM-dd").parse(nag(0).lpiEndDate))) }</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>@messages("clerical.elasticscore")</td>
                            <td class="venus">@address.underlyingScore</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.parentuprn")</td>
                            <td class="venus">
                                @if(address.parentUprn == "0") {N/A} else {@address.parentUprn}
                            </td>
                        </tr>
                        @if(address.countryCode != "N") {
                            <tr>
                                <td>@messages("clerical.la")</td>
                                <td class="venus">@address.nag.map { nag => @nag(0).localCustodianName } | @address.nag.map { nag => @nag(0).localCustodianGeogCode }</td>
                            </tr>
                        }

                    </table>

                    <h3 class="neptune">@messages("clerical.ta"):</h3>

                    <table class="address-result-table-clerical mars">
                        @if(address.countryCode == "N") {
                        @*NISRA TABLE*@
                        <tr class="venus">
                            <th>@messages("clerical.token_description")</th>
                            <th>@messages("clerical.fieldnamePAF")</th>
                            <th>@messages("clerical.inputdata")</th>
                            <th>@messages("clerical.outputdata")</th>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.organisation_name")</td>
                            <td>@messages("clerical.organisation_name")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.organisationName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.sub_building_name")</td>
                            <td>@messages("clerical.sub_building_name")</td>
                            <td>@tokens.getOrElse(Tokens.subBuildingName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.subBuildingName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.building_name")</td>
                            <td>@messages("clerical.building_name")</td>
                            <td>@tokens.getOrElse(Tokens.buildingName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.buildingName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.building_number")</td>
                            <td>@messages("clerical.building_number")</td>
                            <td>@tokens.getOrElse(Tokens.buildingNumber, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.pao.paoStartNumber }</td>
                        </tr>
                        <tr>
                            <td rowspan="3">@messages("clerical.token.street_name")</td>
                            <td>@messages("clerical.thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.thoroughfare }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.dependent_thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.dependentThoroughfare }</td>
                        </tr>
                        <tr>
                            <td>Alt Thoroughfare</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.altThoroughfare }</td>
                        </tr>
                        <tr>
                            <td rowspan="2">@messages("clerical.token.locality")</td>
                            <td>@messages("clerical.token.locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.locality }</td>
                        </tr>
                        <tr>
                            <td>Townland</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td><i>townland not in current index</i></td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.town_name")</td>
                            <td>@messages("clerical.post_town")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.townName }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.postcode")</td>
                            <td>@messages("clerical.postcode")</td>
                            <td>@tokens.getOrElse(Tokens.postcode, "")</td>
                            <td>@address.nisra.map { nisra => @nisra.postcode }</td>
                        </tr>

                        } else {
                        @*PAF TABLE*@
                        <tr class="venus">
                            <th>@messages("clerical.token_description")</th>
                            <th>@messages("clerical.fieldnamePAF")</th>
                            <th>@messages("clerical.inputdata")</th>
                            <th>@messages("clerical.outputdata")</th>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.organisation_name")</td>
                            <td>@messages("clerical.organisation_name")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.paf.map { paf => @paf.organisationName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.department_name")</td>
                            <td>@messages("clerical.department_name")</td>
                            <td>@tokens.getOrElse(Tokens.departmentName, "")</td>
                            <td>@address.paf.map { paf => @paf.departmentName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.sub_building_name")</td>
                            <td>@messages("clerical.sub_building_name")</td>
                            <td>@tokens.getOrElse(Tokens.subBuildingName, "")</td>
                            <td>@address.paf.map { paf => @paf.subBuildingName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.building_name")</td>
                            <td>@messages("clerical.building_name")</td>
                            <td>@tokens.getOrElse(Tokens.buildingName, "")</td>
                            <td>@address.paf.map { paf => @paf.buildingName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.token.building_number")</td>
                            <td>@messages("clerical.building_number")</td>
                            <td>@tokens.getOrElse(Tokens.buildingNumber, "")</td>
                            <td>@address.paf.map { paf => @paf.buildingNumber }</td>
                        </tr>
                        <tr>
                            <td rowspan="4">@messages("clerical.token.street_name")</td>
                            <td>@messages("clerical.thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.paf.map { paf => @paf.thoroughfare }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.paf.map { paf => @paf.welshThoroughfare }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.dependent_thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.paf.map { paf => @paf.dependentThoroughfare }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_dependent_thoroughfare")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.paf.map { paf => @paf.welshDependentThoroughfare }</td>
                        </tr>
                        <tr>
                            <td rowspan="6">@messages("clerical.token.locality")</td>
                            <td>@messages("clerical.post_town")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.postTown }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_post_town")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.welshPostTown }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.dependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.welshDependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.double_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.doubleDependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_double_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.paf.map { paf => @paf.welshDoubleDependentLocality }</td>
                        </tr>

                        <tr>
                            <td rowspan="6">@messages("clerical.token.town_name")</td>
                            <td>@messages("clerical.post_town")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.postTown }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_post_town")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.welshPostTown }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.dependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.welshDependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.double_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.doubleDependentLocality }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.welsh_double_dependent_locality")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.paf.map { paf => @paf.welshDoubleDependentLocality }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.postcode")</td>
                            <td>@messages("clerical.postcode")</td>
                            <td>@tokens.getOrElse(Tokens.postcode, "")</td>
                            <td>@address.paf.map { paf => @paf.postcode }</td>
                        </tr>

                        @*NAG TABLE*@
                        <tr class="venus">
                            <th>@messages("clerical.token_description")</th>
                            <th>@messages("clerical.fieldnameNAG")</th>
                            <th>@messages("clerical.inputdata")</th>
                            <th>@messages("clerical.outputdata")</th>
                        </tr>

                        <tr>
                            <td rowspan="4">@messages("clerical.token.organisation_name")</td>
                            <td>@messages("clerical.organisation")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).organisation }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.pao_text")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoText }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.legal_name")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).legalName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.sao_text")</td>
                            <td>@tokens.getOrElse(Tokens.organisationName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoText }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.department_name")</td>
                            <td>@messages("clerical.legal_name")</td>
                            <td>@tokens.getOrElse(Tokens.departmentName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).legalName }</td>
                        </tr>

                        <tr>
                            <td rowspan="5">@messages("clerical.token.sub_building_name")</td>
                            <td>@messages("clerical.sao_text")</td>
                            <td>@tokens.getOrElse(Tokens.subBuildingName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoText }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.sao_start_number")</td>
                            <td>@tokens.getOrElse(Tokens.saoStartNumber, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoStartNumber }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.sao_start_suffix")</td>
                            <td>@tokens.getOrElse(Tokens.saoStartSuffix, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoStartSuffix }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.sao_end_number")</td>
                            <td>@tokens.getOrElse(Tokens.saoEndNumber, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoEndNumber }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.sao_end_suffix")</td>
                            <td>@tokens.getOrElse(Tokens.saoEndSuffix, "")</td>
                            <td>@address.nag.map { nag => @nag(0).sao.saoEndSuffix }</td>
                        </tr>

                        <tr>
                            <td rowspan="5">@messages("clerical.token.building_name")</td>
                            <td>@messages("clerical.pao_text")</td>
                            <td>@tokens.getOrElse(Tokens.buildingName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoText }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.pao_start_number")</td>
                            <td>@tokens.getOrElse(Tokens.paoStartNumber, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoStartNumber }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.pao_start_suffix")</td>
                            <td>@tokens.getOrElse(Tokens.paoStartSuffix, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoStartSuffix }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.pao_end_number")</td>
                            <td>@tokens.getOrElse(Tokens.paoEndNumber, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoEndNumber }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.pao_end_suffix")</td>
                            <td>@tokens.getOrElse(Tokens.paoEndSuffix, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoEndSuffix }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.building_number")</td>
                            <td>@messages("clerical.pao_start_number")</td>
                            <td>@tokens.getOrElse(Tokens.paoStartNumber, "")</td>
                            <td>@address.nag.map { nag => @nag(0).pao.paoStartNumber }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.street_name")</td>
                            <td>@messages("clerical.street_descriptor")</td>
                            <td>@tokens.getOrElse(Tokens.streetName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).streetDescriptor }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.locality")</td>
                            <td>@messages("clerical.locality")</td>
                            <td>@tokens.getOrElse(Tokens.locality, "")</td>
                            <td>@address.nag.map { nag => @nag(0).locality }</td>
                        </tr>

                        <tr>
                            <td rowspan="2">@messages("clerical.token.town_name")</td>
                            <td>@messages("clerical.town_name")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).townName }</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.locality")</td>
                            <td>@tokens.getOrElse(Tokens.townName, "")</td>
                            <td>@address.nag.map { nag => @nag(0).locality }</td>
                        </tr>

                        <tr>
                            <td>@messages("clerical.token.postcode")</td>
                            <td>@messages("clerical.postcode_locator")</td>
                            <td>@tokens.getOrElse(Tokens.postcode, "")</td>
                            <td>@address.nag.map { nag => @nag(0).postcodeLocator }</td>
                        </tr>
                        }
                        @*NAG TABLE*@
                        <tr class="venus">
                            <th>@messages("clerical.token_description")</th>
                            <th>@messages("clerical.fieldname_derived")</th>
                            <th>@messages("clerical.inputdata")</th>
                            <th>@messages("clerical.outputdata")</th>
                        </tr>
                        <tr>
                            <td rowspan="2">@messages("clerical.token.postcode")</td>
                            <td>@messages("clerical.postcode_out")</td>
                            <td>@tokens.getOrElse(Tokens.postcodeOut, "")</td>
                            <td>
                                @if(address.nisra.isEmpty) {
                                    @if(address.paf.isEmpty) {
                                    @address.nag.map { nag => @nag(0).postcodeLocator.split(" ").headOption.getOrElse("") }
                                    } else {
                                    @address.paf.map { paf => @paf.postcode.split(" ").headOption.getOrElse("") }
                                    }
                                } else {
                                    @address.nisra.map { nisra => @nisra.postcode.split(" ").headOption.getOrElse("") }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.postcode_in")</td>
                            <td>@tokens.getOrElse(Tokens.postcodeIn, "")</td>
                            <td>
                                @if(address.nisra.isEmpty) {
                                    @if(address.paf.isEmpty) {
                                    @address.nag.map { nag => @nag(0).postcodeLocator.split(" ").lastOption.getOrElse("") }
                                    } else {
                                    @address.paf.map { paf => @paf.postcode.split(" ").lastOption.getOrElse("") }
                                    }
                                } else {
                                    @address.nisra.map { nisra => @nisra.postcode.split(" ").lastOption.getOrElse("") }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">@messages("clerical.token.all")</td>
                            <td>@messages("clerical.paf_all")</td>
                            <td>@Tokens.concatenate(tokens)</td>
                            <td>@address.formattedAddressPaf.replaceAll(",", "")</td>
                        </tr>
                        <tr>
                            <td>@messages("clerical.nag_all")</td>
                            <td>@Tokens.concatenate(tokens)</td>
                            <td>@address.formattedAddressNag.replaceAll(",", "")</td>
                        </tr>
                        <tr>
                            <td>Nisra all</td>
                            <td>@Tokens.concatenate(tokens)</td>
                            <td>@address.formattedAddressNisra.replaceAll(",", "")</td>
                        </tr>

                    </table>

                </section>
            }

            @if(address.countryCode != "N") {
            <section class="address-result-hierarchy">
                <h2 class="saturn">@messages("addressresult.address_hierarchy")</h2>
                @expandedRels.getOrElse(Seq()).zipAll(List("Primary", "Secondary", "Tertiary", "Quaternary", "Quinary"), "", "").filter(element => element._1 != "").map { case (expandedRelative: ExpandedRelative, position: String) =>
                <article class="address-result-hierarchy-single">
                    @if(position == "Primary") {<h3 class="neptune">@messages("addressresult.position_primary")</h3>}
                    @if(position == "Secondary") {<h3 class="neptune">@messages("addressresult.position_secondary")</h3>}
                    @if(position == "Tertiary") {<h3 class="neptune">@messages("addressresult.position_tertiary")</h3>}
                    @if(position == "Quaternary") {<h3 class="neptune">@messages("addressresult.position_quaternary")</h3>}
                    @if(position == "Quinary") {<h3 class="neptune">@messages("addressresult.position_quinary")</h3>}
                    <table class="address-result-hierarchy-set mars">
                        <thead>
                            <tr class="venus">
                                <th>UPRN</th>
                                <th>@messages("addressresult.address")</th>
                            </tr>
                        </thead>
                        <tbody id="@position@address.uprn">
                        @expandedRelative.siblings.map { expandedSibling =>
                        <tr><td><a href="@expandedSibling.uprn">@expandedSibling.uprn</a></td>
                            <td>
                                @expandedSibling.formattedAddress
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                </article>
                }

            </section>
            }

        </div>
    </div>



