@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule

@(
version: DemoUIAddressIndexVersionModule
)(
implicit
messages: Messages
)
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="logo">
                <img alt="ONS" src="/assets/images/ons-logo.png" width="204" height="40">
            </div>
            <div class="beta-header">
                <p class="beta-para"><strong class="beta-banner">@messages("main.beta")</strong></p>
                <p class="beta-para"><strong class="beta-banner-version">Version:
                    <a class="beta-git" href="https://github.com/ONSdigital/address-index-api/commit/@version.apiVersion.drop(2).take(6)">@version.apiVersion.drop(2).take(6)</a>
                    | Epoch:
                    @version.dataVersion.take(2)
                </strong></p>
            </div>
        </div>
    </div>
</nav>