@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule

@(
title: String,
action: Call,
singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
warningMessage : Option[String],
query: String,
pageNum: Int,
pageSize: Int,
pageMax: Int,
expandRow: Int,
pagerAction: String,
addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressBySearchResponse],
classification: Option[Map[String,String]],
apiUrl: String,
version: DemoUIAddressIndexVersionModule,
placeholder: String
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("single.title"), version = version) {

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="container">
    <div class="panel panel-single">
        <div class="panel-heading sub-nav-heading">
            @navigation(Navigation.default)
        </div>
        @warningMessage.map { message =>
        <div id="warning-message" class="panel panel-warning address-panel">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
            </div>
        </div>
        }
        <div class="panel panel-single address-panel">
            <h3 class="panel-title">@title</h3>&nbsp;&nbsp;<h4 class="panel-subtitle">@messages("single.sfatext")</h4>
            <div class="panel-body">
                @helper.form(action = action) {
                <div id="search-form" class="search-bar-active">
                    @forms.singleAddressForm(singleSearchForm, placeholder)
                </div>
                }
            </div>

            @if(query.nonEmpty) {
                <div>
                    <pre class="prettyprint debug-query-output">@query</pre>
                </div>
            }


            @clericalToolAddresses(singleSearchForm, pageNum, pageSize, pageMax, expandRow, pagerAction, addressBySearchResponse, classification, apiUrl)


        </div>
        <div class="panel panel-single address-panel">
            <p class="pad">&nbsp;</p>
        </div>
    </div>
</div>
}