@import play.twirl.api.HtmlFormat

@import uk.gov.ons.addressIndex.model.server.response.address.AddressBySearchResponse
@(
    singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
    filter: String,
    historical: Boolean,
    startdate: String,
    enddate: String,
    matchthreshold: String,
    pageNum: Int,
    pageSize: Int,
    pageMax: Int,
    expandRow: Int,
    pagerAction: String,
    addressBySearchResponse: Option[AddressBySearchResponse],
    classification: Option[Map[String, String]],
    apiUrl: String,
    apiKey: String
)(implicit messages: Messages)


            @addressBySearchResponse.map { aresponse =>
            <div id="match-count" class="panel panel-single address-panel">
                <h3 class="green">@aresponse.total @messages("single.found")</h3>
                <a class="mailto" onclick="javascript:window.location='mailto:ai.users@@ons.gov.uk?subject=Individual%20feedback%20on%20Address%20Index%20(clerical%20tool)&body=Input: %22@{HtmlFormat.escape(singleSearchForm.value.map(_.address.replaceAll("'", "%27").replaceAll("&", "%26")).getOrElse(""))}%22%0D%0A%0D%0AUrl: ' + encodeURIComponent(window.location);" href="#">@messages("feedback.individual_link")</a>
            </div>
            @aresponse.addresses.zipWithIndex.map{ case (address, index) =>

                @addressPartial(
                    address,
                    singleSearchForm("filter").value.getOrElse(""),
                    singleSearchForm("historical").value,
                    singleSearchForm("matchthreshold").value.getOrElse(""),
                    singleSearchForm("startdate").value.getOrElse(""),
                    singleSearchForm("enddate").value.getOrElse(""),
                    aresponse.maxScore,
                    classification,
                    aresponse.tokens,
                    pageNum,
                    index,
                    true,
                    expandRow,
                    apiUrl,
                    apiKey,
                    )

            }
            @pager(pageNum,pageSize,pageMax,singleSearchForm("address").value.getOrElse(""),singleSearchForm("filter").value.getOrElse(""),aresponse.total, pagerAction, singleSearchForm("historical").value, singleSearchForm("matchthreshold").value.getOrElse("5").toInt, singleSearchForm("startdate").value.getOrElse(""), singleSearchForm("enddate").value.getOrElse(""), epoch = "")
            }
