@import uk.gov.ons.addressIndex.demoui.views.ScoreHelper
@import uk.gov.ons.addressIndex.parsers.Tokens
@import java.text.SimpleDateFormat

@(
    singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
    pageNum: Int,
    pageSize: Int,
    pageMax: Int,
    expandRow: Int,
    pagerAction: String,
    addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressBySearchResponse],
    classification: Option[Map[String, String]],
    apiUrl: String
)(implicit messages: Messages)


            @addressBySearchResponse.map { aresponse =>
            <div id="match-count" class="panel panel-single address-panel">
                <h3 class="green">@aresponse.total @messages("single.found")</h3>
                <a onclick="javascript:window.location='mailto:neil.hopper@@ons.gov.uk?subject=Individual%20feedback%20on%20Address%20Index%20(clerical%20tool)&body=Input: %22@{HtmlFormat.escape(singleSearchForm.value.map(_.address.replaceAll("'", "%27").replaceAll("&", "%26")).getOrElse(""))}%22%0D%0A%0D%0AUrl: ' + encodeURIComponent(window.location);" href="#">@messages("feedback.individual_link")</a>
            </div>
            @aresponse.addresses.zipWithIndex.map{ case (address, index) =>

                @addressPartial(
                    address,
                    aresponse.maxScore,
                    classification,
                    aresponse.tokens,
                    pageNum,
                    index,
                    true,
                    expandRow,
                    apiUrl
                )

            }
            @pager(pageNum,pageSize,pageMax,singleSearchForm("address").value.getOrElse(""),aresponse.total, pagerAction)
            }
