@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import play.twirl.api.HtmlFormat

@import uk.gov.ons.addressIndex.model.server.response.address.AddressBySearchResponse
@(
title: String,
action: Call,
singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
warningMessage : Option[String],
query: String,
dates: Map[String, String],
pageNum: Int,
pageSize: Int,
pageMax: Int,
expandRow: Int,
pagerAction: String,
showNisra: Boolean,
addressBySearchResponse: Option[AddressBySearchResponse],
classification: Option[Map[String,String]],
version: DemoUIAddressIndexVersionModule,
placeholder: String,
labelFilter: String,
placeholderFilter: String
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("single.title"), version = version, showBannerNavigation = true, showBannerTagline = true, siteSection = Some("clerical")) {

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="container">

    <section class="match-form-container">
        <div class="wrapper">
            <div class="group">
                <h1 class="jupiter col-12">@title @messages("single.sfatext")</h1>

                <section class="searchbox-results">
                    @helper.form(action = action) {
                    <div id="search-form" class="search-bar-active">
                        @forms.singleAddressForm(singleSearchForm, display = "inline", true, placeholder, labelFilter, placeholderFilter, messages("singlesearchform.labelstartdate"), messages("singlesearchform.placeholderstartdate"), messages("singlesearchform.labelenddate"), messages("singlesearchform.placeholderenddate"),showNisra)
                    </div>
                    }
                </section>
            </div>
        </div>
    </section>

    <div class="wrapper">
        <div class="group">

            @warningMessage.map { message =>
            <div id="warning-message" class="col-12">
                <div class="result-content">
                    <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
                </div>
            </div>
            }

            @if(query.nonEmpty) {
                <div class="col-12 debug-query-output mars">
                    <pre class="prettyprint ">@query</pre>
                </div>
            }


            @addressBySearchResponse.map { aresponse =>
                <section class="match-results-container col-12">
                    <div class="match-results-count saturn">
                     @if(aresponse.sampleSize == aresponse.total) {
                        <div class="standout">@messages("results.foundatleastpre") @aresponse.total @messages("results.foundpost")</div>
                        }else{
                        <div class="standout">@messages("results.foundexactpre") @aresponse.total @messages("results.foundpost")</div>
                        }
                    </div>


                    <div class="match-results">

                        @aresponse.addresses.zipWithIndex.map{ case (address, index) =>

                        @addressShortForm(
                        address,
                        singleSearchForm("filter").value.getOrElse(""),
                        singleSearchForm("historical").value.getOrElse("true").toBoolean,
                        singleSearchForm("matchthreshold").value.getOrElse("5").toInt,
                        singleSearchForm("fromsource").value.getOrElse("all"),
                        dates.getOrElse("startdate", ""),
                        dates.getOrElse("enddate", ""),
                        epoch = "",
                        classification,
                        aresponse.tokens,
                        pageNum,
                        index,
                        true,
                        expandRow
                        )

                        }
                        @pager(pageNum,pageSize,singleSearchForm("address").value.getOrElse(""),singleSearchForm("filter").value.getOrElse(""),aresponse.total, pagerAction, singleSearchForm("historical").value.getOrElse("true").toBoolean, singleSearchForm("matchthreshold").value.getOrElse("5").toInt, singleSearchForm("fromsource").value.getOrElse("all"), dates.getOrElse("startdate", ""), dates.getOrElse("enddate", ""), epoch = "")

                    </div>
                </section>
            }
        </div>

    </div>
    <div class="feedback-link-container">
        <div class="wrapper">
            <div class="group">
                <div class="col-12 mars">
                    <a class="mailto" onclick="javascript:window.location='mailto:ai.users@@ons.gov.uk?subject=Individual%20feedback%20on%20Address%20Index%20(clerical%20tool)&body=Input: %22@{HtmlFormat.escape(singleSearchForm.value.map(_.address.replaceAll("'", "%27").replaceAll("&", "%26")).getOrElse(""))}%22%0D%0A%0D%0AUrl: ' + encodeURIComponent(window.location);" href="#">@messages("feedback.individual_link")</a>
                </div>
            </div>
        </div>
    </div>
</div>
}
