@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.controllers.routes
@import uk.gov.ons.addressIndex.demoui.modules.DemouiConfigModule

@(
    version: DemoUIAddressIndexVersionModule,
    content: String,
    userLang: String,
    conf : DemouiConfigModule
)(implicit messages: Messages)

@main(title = messages("navbar.developers"), version = version, showBannerNavigation = false, showBannerTagline = false, siteSection = Some("developers")) {


    <div class="developers">
        <div class="wrapper">
            <div class="group">
                <div class="col-12 saturn"><a href="@{routes.StaticController.devLanding}">&lt;/developers&gt;</a></div>
            </div>
        </div>
    </div>

    <div class="container mars">
        <div class="wrapper">

            @if(content == "landing"){
                @devcontent.devLanding(userLang, conf)
            }

            @if(content == "typeAhead"){
                @devcontent.devTypeAhead(userLang, conf)
            }

            @if(content == "version"){
                @devcontent.devVersion(userLang, conf)
            }

            @if(content == "single"){
                @devcontent.devSingleSearch(userLang, conf)
            }

            @if(content == "uprn"){
                @devcontent.devUprn(userLang, conf)
            }

            @if(content == "postcode"){
                @devcontent.devPostcode(userLang, conf)
            }

        </div>
    </div>

    <div class="developers">
        <div class="wrapper">
            <div class="group">
                <div class="col-12 venus"><a href="@{routes.StaticController.devLanding}">Back to &lt;/developers&gt; pages</a></div>
            </div>
        </div>
    </div>

}
