@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@(statusCode: Int, error: String, version: DemoUIAddressIndexVersionModule)(implicit messages: Messages)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("home.title"), version = version, showBannerNavigation = true, showBannerTagline = false, siteSection = Some("")) {
<div class="container">

    <div class="wrapper">
        <div class="group">
            <div class="col-12">
                <h1 class="jupiter">System Error</h1>
                <h2 class="saturn">@messages("error.error"): @statusCode</h2>
                <h3 class="neptune">@messages("error.detail"):</h3>
                <p class="venus">@error</p>

            </div>
        </div>
    </div>
</div>
}