@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation

@(
    version: DemoUIAddressIndexVersionModule
)(implicit messages: Messages)

@main(title = messages("single.title"), version = version) {

    <div class="container">
        <div class="panel panel-single">
            <div class="panel-heading sub-nav-heading no-print">
            @navigation(Navigation.default)
            </div>
            <div class="help-container" id="help-container">
                <div class="no-print">
                    <ul>
                        <li>
                            <a href="#introduction">Introduction</a>
                        </li>
                        <li>
                            <a href="#login">Logging on to Address Index</a>
                        </li>
                        <li>
                            <a href="#search_single">Search for a Single Address</a>
                        </li>
                        <li>
                            <a href="#search_multiple">Search for multiple addresses</a>
                        </li>
                        <li>
                            <a href="#clerical">Perform an advanced search using the Clerical Tool</a>
                        </li>
                        <li>
                            <a href="#debug">Debug the ElasticSearch Query</a>
                        </li>
                        <li>
                            <a href="#notes">Additional Notes</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a name="introduction"></a>
                    <h1>Introduction</h1>
                    <p>The Address Index User Interface (UI) provides an address searching and matching service to users on the ONS network. To log in to the service, enter the same username and password used to log into your PC/Laptop.</p>
                    <p>If you are on the ONS network and are unable to access the service, please email <a href="mailto:ai.users@@ons.gov.uk">Address Index</a></p>
                    <p>To provide access to users outside the ONS network, mainly OGDs, the Address Index service will be accessible through the use of an Application Program Interface (API)</p>
                    <p>During the Private Beta external users are supplying bulk input files via MoveIt</p>
                </div>

                <div>
                    <a name="login"></a>
                    <h1>Login</h1>
                    <ol>
                        <li>Open a web browser and go to <a href="http://addressindex-ui.apps.cfnpt.ons.statistics.gov.uk/">http://addressindex-ui.apps.cfnpt.ons.statistics.gov.uk/</a></li>

                        <li>If login is required, enter your ons network username and password, and click “Login” button</li>
                    </ol>

                    <img src="@routes.Assets.versioned("/images/help/login_1.jpg").toString">
                </div>

                <div>
                    <a name="search_single"></a>
                    <h1>Search for a Single Address</h1>

                    <div>1. From the Address Index home page, click Find an address</div>
                    <img src="@routes.Assets.versioned("/images/help/single_1.jpg").toString">

                    <div>2. Enter an address and click the Search button</div>
                    <img src="@routes.Assets.versioned("/images/help/single_2.jpg").toString">

                    <div>3. Once the search button is clicked, the matching engine will process the search query and return the results.</div>
                    <img src="@routes.Assets.versioned("/images/help/single_3.jpg").toString">


                    <ol>
                        <li><strong>Number of addresses found</strong> - The total number of addresses found in the search.</li>
                        <li><strong>Feedback</strong> - Press to submit a feedback for this particular input</li>
                        <li><strong>LA | PAF</strong> - Toggle functionality to view either a formatted LA (Local Authority) or PAF (Postal Address Finder) version of the address.</li>
                        <li><strong>Language</strong> - Language switch between English and Welsh</li>
                        <li><strong>Matching Score</strong> – Document score comes from the search engine, Building score is a calculated probability that the building is correct, and the unit score is for the sub-building if appropriate </li>
                        <li><strong>Address</strong> – A formatted matched address. As default, the formatted LA version of the matched address is displayed.</li>
                        <li><strong>Logical Status Icon</strong> – The logical status of a matched address. A is approved, P is provisional and H is Historical.</li>
                        <li><strong>UPRN</strong> – Unique Property Reference Number is a unique twelve-digit number assigned to every unit of land and property recorded by the local government.</li>
                        <li><strong>Classification</strong> - Allow users to view the high level and low level classification of a matched address e.g. High level (Residential, Commercial etc.) and Low Level (Self-Contained Flat, Bank, Restaurant, Shop/Showroom etc.)</li>
                        <li><strong>Local Authority</strong> – This is the local authority that the matched address is currently assigned to.</li>
                        <li><strong>Open Map</strong> – Allow users to pinpoint the matched address on a map using AddressBase’s coordinates</li>
                    </ol>

                </div>

                <div>
                    <a name="search_multiple"></a>
                    <h1>Search for  Multiple Addresses</h1>

                    <div>1. From the Address Index home page, click Match multiple addresses</div>
                    <img src="@routes.Assets.versioned("/images/help/multiple_1.jpg").toString">

                    <div> 2. Click Choose File to select a file from your computer. </div>
                    <div><i>Note: The selected file must be a CSV (Comma Delimited) format, less than 10MB in size and must have only two columns with headers:  ID and Address. See <a href="@routes.Assets.versioned("/images/help/exsample.csv").toString">Sample file</a></i></div>
                    <img src="@routes.Assets.versioned("/images/help/multiple_2.jpg").toString">

                     
                    <div>3. Once the file is selected from your computer, click "Visualise" button</div>
                    <img src="@routes.Assets.versioned("/images/help/multiple_3.jpg").toString">

                    <div>Once the file is uploaded successfully, the matching engine will process the search query and return the results.</div>

                    <img src="@routes.Assets.versioned("/images/help/multiple_4.jpg").toString">

                    <ul>
                        <li><strong>ID</strong>
                            – This is the ID that was provided by the user in the input file.</li>
                        <li><strong>Input Address</strong>
                            – The input address is the address that was uploaded by the user</li>
                        <li><strong>Matched Address</strong> – Address found during matching.</li>
                        <li><strong>UPRN</strong>
                            – Unique Property Reference Number is a unique twelve-digit number assigned to every unit of land and property recorded by the local government.</li>
                        <li><strong>Document Score</strong> - Elastic Search score</li>
                        <li><strong>Building Score</strong> - Custom score for addresses score</li>
                        <li><strong>Unit Score</strong> - Custom score for addresses with Flats score</li>
                        <li><strong>Rank</strong> - Rank of the address in a list of matched addresses for the same input</li>
                        <li><strong>Matched?</strong> - Switch that allows to choose which address to download as a .csv file</li>
                    </ul>

                    <div>4. To export results to a .csv file, click Download link at the bottom of the table, or directly press "Download Result" instead of visualising it</div>


                </div>

                <div>
                    <a name="clerical"></a>
                    <h1>Perform an advanced search using the Clerical Tool</h1>

                    <div>1. From the Address Index home page, click Clerical tool</div>
                    <img src="@routes.Assets.versioned("/images/help/clerical_1.jpg").toString">

                    <div>2. Search an address as you would in <a href="#search_single">Single Search</a>. The result is identical to the one in Single search, the user may click on "Additional Clerical Information" to see more information about tokens and hierarchy.</div>

                    <img src="@routes.Assets.versioned("/images/help/clerical_2.jpg").toString">
                    <img src="@routes.Assets.versioned("/images/help/clerical_3.jpg").toString">

                    <div>3. Click on "Hide" to hide the additional information</div>
                </div>

                <div>
                    <a name="debug"></a>
                    <h1>Debug the Elastic Search Query</h1>

                    <div>This tool allows data scientists to see the underlying elastic search query</div>
                    <div>1. From the Address Index home page, click Display ES Query</div>

                    <img src="@routes.Assets.versioned("/images/help/debug_1.jpg").toString">

                    <div>2. Search an address as you would in <a href="#search_single">Single Search</a>. The result is identical to the Clerical tool, except there is a large text box above the results containing the elastic search query that the API has generated and used. This query can be copied into a tool such as Kopf or Postman for testing.</div>

                    <img src="@routes.Assets.versioned("/images/help/debug_3.jpg").toString">
                </div>

                <div>
                    <a name="notes"></a>
                    <h1>Additional Notes</h1>
                <ol>
                    <li><strong>Viewing Site In Welsh</strong> - In Chrome go to Settings, Advanced settings, Languages, if Welsh is not on the list, add it with the Add button. Drag Welsh to the top and click Finish. The UI is now in Welsh mode. Drag Welsh below English to toggle back.</li>
                    <li><strong>Validation and Address Format</strong> - The only validation done is to check that an address string is supplied (if not get clickable error message). No checks are made as to what address parts are included. Whatever is supplied is processed by the API and if there are no matches there are no matches.  The exception to this is if the input is only a number, it is assumed to be a UPRN and matched accordingly.</li>
                    <li><strong>Bookmarking</strong> - The address string (URL encoded) and other parameters are echoed to the URL bar so you can bookmark a single search or clerical tool result and send it to someone else. It will recreate the page as saved such as expanding the chosen address in the clerical tool. Note that the PAF / LA toggle is done on the client so is not bookmarkable.</li>
                    <li><strong>Paging</strong> - The maximum number of pages is 100 or the number of results / number of results per page. In the UI the number of results per page is set to 10 and cannot be overridden in the URL. Note that as well as next / previous buttons you can jump to a page number using the page= query string parameter in the URL.</li>
                    <li><strong>Google Maps</strong> - Note that this takes you to the exact Lat / Lon from Addressbase rather than where Google thinks the marker should go.</li>
                    <li><strong>Epochs</strong> - A major new version of Addressbase is supplied every 6 weeks. These versions are called Epochs. The current Epoch number is shown the top right of the screen, along with the version number of the code which is also a link to GitHub. </li>
                    <li><strong>Internet Explorer</strong> - This site works on all modern browsers. However, Internet Explorer should have Compatability View off (right click cog icon top right to show the menu bar, Tools, Compatability View Settings, ensure Display Intranet Sites In Compatibility Mode is unticked). </li>
                </ol>
                </div>


            </div>
        </div>
    </div>

}
