@import helper._
@()(implicit
    requestHeader: RequestHeader,
    messages: Messages
)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = messages("home.title")) {
    <div class="container">
        <div class="row">
            <div><h2 class="panel-title">@messages("home.servicetext") <span class="beta">Beta</span></h2></div>
          </div>
        <p class="toptext">@messages("home.headertext")</p>
        <div class="panel panel-default">
            <div class="row">
                <div class="index-nav">
                    @nav.navItem(
                        href = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.showSingleMatchPage.absoluteURL,
                        linkText = messages("home.singlehead"),
                        linkBody = messages("home.singlebody"),
                        imgUrl = "/assets/images/singlesearch.jpg",
                        width = 280,
                        height = 120
                    )
                </div>
            </div>
        </div>
    </div>
}
