@()(implicit messages: Messages)
@import play.i18n._
@import helper._
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = "ONS-Address") {
    <div class="container">
        <div class="row">
            <div class="col-md-10"><h2 class="panel-title">@messages("home.servicetext") <span class="beta">Beta</span></h2></div>
            <div class="col-md-2 text-right"><a href="#"><i data-toggle="modal" data-target="#myModal" class="fa fa-question-circle fa-2x" aria-hidden="true"></i></a></div>
        </div>
        <p class="toptext">@messages("home.headertext")</p>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-sm-6 col-md-4 index-nav">
                    <div class="thumbnail text-center">
                        <a href="addresses"><i class="fa fa-search fa-5x index-nav-icon" aria-hidden="true"></i></a>
                    </div>
                    <article class="box-nav-item">
                        <a href="addresses">
                            <img style="float:right;" width="352" height="142" src="/assets/images/singlesearch.jpg"/>
                            <h4><a href="addresses">Find an address </a></h4>
                            <p>This feature allows you to match for a single address</p>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
}
