@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import uk.gov.ons.addressIndex.demoui.views.html.main
@import uk.gov.ons.addressIndex.demoui.controllers.routes


@(errorMessage: String = "", errorSuggestion: String = "", version: DemoUIAddressIndexVersionModule)(implicit messages: Messages)

@helper.form(routes.ApplicationHomeController.login) {
@main(title = messages("login.title"), version = version, showBannerNavigation = false, showBannerTagline = true, siteSection = Some("")) {

<div class="container">
    <div class="wrapper">

        @{if (errorMessage != ""){
        <div class="group">
            <div id="warning-message" class="col-6">
                <div class="warning-error-message venus">{errorMessage}</div>
                <div class="warning-error-suggestion mars" role="alert">{errorSuggestion}</div>
            </div>
        </div>
        }}

        <div class="group">
            <div class="col-6">

                <h1 class="jupiter">@messages("login.heading")</h1>

                <section class='@if(errorMessage != ""){login-error}else{searchbox-initial}'>
                    <form action="@{routes.ApplicationHomeController.doLogin()}" method="post"></form>
                    <form action="@{routes.ApplicationHomeController.doLogin()}" method="post">
                        <div id="search-form" class="search-bar-active">
                            <fieldset class="searchfield">
                                <dl id="loginbox">
                                    <dt><label for="name" class="neptune">@messages("login.username")</label></dt>
                                    <dd>
                                        <input id="name" name="userName" placeholder='@messages("login.usernameph")' class="form-control mars" type="text">
                                    </dd>
                                    <dt><label for="pass" class="neptune">@messages("login.password")</label></dt>
                                    <dd>
                                        <input id="pass" name="password" type="password" placeholder='@messages("login.passwordph")' class="form-control mars">
                                    </dd>
                                </dl>

                                <p class="mars"><a href="@{routes.StaticController.helpForgotPassword}">@messages("login.forgotpassword")</a></p>

                                <input id="loginbtn" type="submit" class="neptune" value='@messages("login.login")'>
                            </fieldset>
                        </div>
                    </form>
                </section>
            </div>
        </div>


     </div>
</div>
}
}
