@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule

@(title: String, version: DemoUIAddressIndexVersionModule)(content: Html)(implicit messages: Messages)
@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8" />
            <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->

            <!--[if gt IE 8]><!-->
        <link href='@routes.Assets.versioned("stylesheets/govuk-template.css")' media="screen" rel="stylesheet" />
            <!--<![endif]-->
            <!--[if IE 6]><link href=' @routes.Assets.versioned("stylesheets/govuk-template-ie6.css")' media="screen" rel="stylesheet" /><![endif]-->
            <!--[if IE 7]><link href=' @routes.Assets.versioned("stylesheets/govuk-template-ie7.css")' media="screen" rel="stylesheet" /><![endif]-->
            <!--[if IE 8]><link href=' @routes.Assets.versioned("stylesheets/govuk-template-ie8.css")' media="screen" rel="stylesheet" /><![endif]-->
        <link href='@routes.Assets.versioned("stylesheets/govuk-template-print.css")' media="print" rel="stylesheet" />

            <!--[if IE 8]><link href=' @routes.Assets.versioned("stylesheets/fonts-ie8.css")' media="all" rel="stylesheet" /><![endif]-->
            <!--[if gte IE 9]><!-->
        <link href='@routes.Assets.versioned("stylesheets/fonts.css")' media="all" rel="stylesheet" />
            <!--<![endif]-->
            <!--[if lt IE 9]><script src=' @routes.Assets.versioned("javascripts/ie.js")'>
        </script>
        <![endif]-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")' type="image/x-icon" />
        <link rel="mask-icon" href='@routes.Assets.versioned("images/gov.uk_logotype_crown.svg")'>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href='@routes.Assets.versioned("images/apple-touch-icon-152x152.png")'>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href='@routes.Assets.versioned("images/apple-touch-icon-120x120.png")'>
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href='@routes.Assets.versioned("images/apple-touch-icon-76x76.png")'>
        <link rel="apple-touch-icon-precomposed" href='@routes.Assets.versioned("images/apple-touch-icon-60x60.png")'>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content='@routes.Assets.versioned("images/opengraph-image.png")'>

        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/ons.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.ico")'>
    </head>
    <body>
    <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
            function setFocus (elem) {
            document.getElementById(elem).focus();
            }

    $(function () {

        var englishAddressLanguageClass = ".address-english";
        var welshAddressLanguageClass = ".address-welsh";
        var currentAddressLanguageClass = englishAddressLanguageClass;

        var nagFormattedAddressClass = ".formatted-nag";
        var pafFormattedAddressClass = ".formatted-paf";
        var currentFormattedAddress = nagFormattedAddressClass;

        $(".formatted-nag-button").click(function (e) {
            $(this).addClass("formatted-button-active");
            var parent = $(this).closest(".resultRow");
            parent.find(".formatted-paf-button").removeClass("formatted-button-active");
            var parent2 = $(parent).next(".resultRow");
            parent2.find(currentAddressLanguageClass + ".formatted-nag").show();
            parent2.find(currentAddressLanguageClass + ".formatted-paf").hide();
            currentFormattedAddress = nagFormattedAddressClass;
            e.preventDefault()
        });
        $(".formatted-paf-button").click(function (e) {
            $(this).addClass("formatted-button-active");
            var parent = $(this).closest(".resultRow");
            parent.find(".formatted-nag-button").removeClass("formatted-button-active");
            var parent2 = $(parent).next(".resultRow");
            parent2.find(currentAddressLanguageClass + ".formatted-paf").show();
            parent2.find(currentAddressLanguageClass + ".formatted-nag").hide();
            currentFormattedAddress = pafFormattedAddressClass;
            e.preventDefault()
        });

        $(".address-toggle-welsh").click(function(e){
            var parent = $(this).closest(".matchResults");
            parent.find(".address-toggle-welsh-text").toggle();
            parent.find(".address-toggle-english-text").toggle();
            parent.find(currentAddressLanguageClass).hide();
            currentAddressLanguageClass = (currentAddressLanguageClass === welshAddressLanguageClass) ? englishAddressLanguageClass : welshAddressLanguageClass;
            parent.find(currentAddressLanguageClass + currentFormattedAddress).show();
            return false;
        })
    });

    </script>
    <nav class="navbar navbar-default">
        @banner(version)
    </nav>
    <section class="content">@content</section>
    <footer class="group js-footer" id="footer" role="contentinfo">

            <div class="footer-wrapper">

                <div class="footer-meta">
                    <div class="footer-meta-inner">

                        <div class="open-government-licence">
                            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">
                                Open Government Licence</a></p>

                            <p>@messages("main.licence1") <a href='@messages("main.licenceurl")' rel="license">@messages("main.licence2")
                                v3.0</a>, @messages("main.licence3")</p>

                        </div>
                    </div>

                    <div class="copyright">
                        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy;
                            @messages("main.copyright")</a>
                    </div>
                </div>
            </div>
        </footer>

        <div id="global-app-error" class="app-error hidden"></div>

        <script src='@routes.Assets.versioned("/javascripts/govuk-template.js")'></script>

        <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
        </body>
</html>
