@import helper._
@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.views.ScoreHelper
@import uk.gov.ons.addressIndex.demoui.views.MatchTypeHelper
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import uk.gov.ons.addressIndex.demoui.views.html.main
@import uk.gov.ons.addressIndex.model.server.response.address.AddressBySearchResponseContainer
@import uk.gov.ons.addressIndex.model.server.response.bulk.AddressBulkResponseContainer
@(
    nav: Navigation,
    fileFormName: String,
    results: Option[AddressBulkResponseContainer] = None,
    version: DemoUIAddressIndexVersionModule
)(
    implicit
    messages: Messages,
    request: RequestHeader
)

@tableHeaderHelper(text: String) = {
    <th>@text</th>
}

@main(title = messages("single.title"), version = version, showBannerNavigation = true, showBannerTagline = true, siteSection = Some("multi")) {
    <script>
            $(document).ready(function () {
                function exportTableToCSV($table, filename) {
                    var $headers = $table.find('tr:has(th)')
                            ,$rows = $table.find('tr:has(td):has(.matched-yes:checked)')

                            // Temporary delimiter characters unlikely to be typed by keyboard
                            // This is to avoid accidentally splitting the actual contents
                            ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                            ,tmpRowDelim = String.fromCharCode(0) // null character

                            // actual delimiter characters for CSV format
                            ,colDelim = '","'
                            ,rowDelim = '"\r\n"';

                    // Grab text from table into CSV formatted string
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';
                    // Data URI
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                    // For IE (tested 10+)
                    if (window.navigator.msSaveOrOpenBlob) {
                        var blob = new Blob([decodeURIComponent(encodeURI(csv))], {
                            type: "text/csv;charset=utf-8;"
                        });
                        navigator.msSaveBlob(blob, filename);
                    } else {
                        $(this)
                                .attr({
                                    'download': filename
                                    ,'href': csvData
                                    //,'target' : '_blank' //if you want it to open in a new window
                                });
                    }

                    //------------------------------------------------------------
                    // Helper Functions
                    //------------------------------------------------------------
                    // Format the output so it has the appropriate delimiters
                    function formatRows(rows){
                        return rows.get().join(tmpRowDelim)
                                .split(tmpRowDelim).join(rowDelim)
                                .split(tmpColDelim).join(colDelim);
                    }
                    // Grab and format a row from the table
                    function grabRow(i,row){

                        var $row = $(row);
                        //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                        var $cols = $row.find('td:not(:last)');
                        if(!$cols.length) $cols = $row.find('th:not(:last)');

                        return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                    }
                    // Grab and format a column from the table
                    function grabCol(j,col){
                        var $col = $(col),
                                $text = $col.text();

                        return $text.replace('"', '""'); // escape double quotes

                    }
                }


                // This must be a hyperlink
                $("#export").click(function (event) {
                    // var outputFile = 'export'
                    var outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
                    outputFile = outputFile.replace('.csv','') + '.csv'

                    // CSV
                    exportTableToCSV.apply(this, [$('#dvData > table'), outputFile]);

                    // IF CSV, don't do event.preventDefault() or return false
                    // We actually need this to be a typical hyperlink
                });

                $("#matched-all-yes").click(function () {
                    $(".matched-yes").prop("checked", true)
                });
                $("#matched-all-no").click(function () {
                    $(".matched-no").prop("checked", true)
                });

                //------------------------------------------------------------
                // Form functions
                //------------------------------------------------------------
                var visualiseAction = "@{uk.gov.ons.addressIndex.demoui.controllers.routes.BulkMatchController.uploadFileVisualise}";
                var downloadAction  = "@{uk.gov.ons.addressIndex.demoui.controllers.routes.BulkMatchController.uploadFileDownloadCsv}";

                $("#search-form form").submit(function (e) {
                    $(".search-button").addClass("disabled").prop('disabled', true);
                    $("#search-loading").append('<img id="search-ajax-load" style="margin-left:40px" src="@{routes.Assets.versioned("/images/progress.gif").toString}"/>');
                });

                $("#multi-match").change(function(e)
                {
                    var fileName = $(this).val().split('\\').pop();

                    if( fileName ) {
                        $("#file-name").text(fileName);
                        $(".search-button").removeClass("disabled").prop('disabled', false);
                    }
                });

                $("#search-button-download").click(function(){
                    $("#search-form form").prop("action", downloadAction).submit()
                });

                function getCookie( name ) {
                    var parts = document.cookie.split(name + "=");
                    if (parts.length === 2) return parts.pop().split(";").shift();
                }

                // this token is needed so that in case of a download, we'd know when the download has started
                function resetToken() {
                    var token = + new Date();
                    $('#search-token').val(token);
                    return token
                }

                var value = resetToken();

                window.setInterval(function(){
                    var token = getCookie("token");

                    if(token === value.toString()) {
                        $('#search-ajax-load').remove();
                        $("#search-form form").prop("action", visualiseAction);
                        $(".search-button").removeClass("disabled").prop('disabled', false);
                        value = resetToken();
                    }

                }, 1000);



            });
    </script>
    <div class="container">
        <div class="wrapper">
            <div class="group">
                <div class="col-12">
                    <h1 class="jupiter">@messages("multi.sfatext")</h1>
                </div>
            </div>
            <div class="group">
                <div class="col-6">
                    <section class="infobox-standard mars">
                        <p>To get started, upload a CSV ﬁle of addresses to be matched.
                        The selected ﬁle must be 1MB or less (much smaller for show results option) with only two columns id and address.
                        The first row is treated as a header but will also be checked for query string parameters, e.g. matchthreshold=65.</p>
                        <p>Download a <a href='@routes.Assets.versioned("images/help/exsample.csv").toString'>sample file</a> (shows all possible parameters).</p>
                        <p>You can download your results as a CSV ﬁle or preview them in your browser. Your results will include a match accuracy score.</p>
                    </section>
                </div>
            </div>
            <div class="group">
                <div class="col-6">
                    <section class="searchbox-initial">
                        <div class="multi-match-form">
                            <div id="search-form" class="search-bar-active">
                                <h2 class="saturn">Upload a CSV file</h2>
                                @form(
                                action = uk.gov.ons.addressIndex.demoui.controllers.routes.BulkMatchController.uploadFileVisualise,
                                'enctype -> "multipart/form-data"
                                ) {
                                <p class="inputfile-box mars">
                                    <input type="file" id="multi-match" class="inputfile" accept=".csv" name="@fileFormName" />
                                    <label for="multi-match">
                                        <span id="file-name" class="file-box">&nbsp;</span>
                                        <span class="upload-btn"> <i class="fa fa-upload" aria-hidden="true"></i> @messages("select_file")</span>
                                    </label>
                                    @*this token is needed so that in case of a download, we'd know when the download has started*@
                                    <input id="search-token" type="hidden" name="token" value="some default" />

                                    <button id="search-button" class="btn btn-success search-button btn-search no-margin disabled neptune" type="submit" disabled="disabled">@messages("upload")</button>
                                    <button id="search-button-download" class="btn btn-success search-button btn-search no-margin disabled neptune" disabled="disabled">@messages("upload-download")</button>
                                </p>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="group">
                <div class="col-12">
                    <div id="search-loading"></div>
                    <section id="multi-match-results" class="mars">
                        @results.map { bulkResp =>
                        <table>
                            <tr>
                                <td style="padding: 0 20px 0 0;">@messages("multi.counter.total"): </td>
                                <td class="venus">@{MatchTypeHelper.countSearched(bulkResp.bulkAddresses)}</td>
                            </tr>
                            <tr>
                                <td>@messages("multi.counter.single"): </td>
                                <td class="venus">@{MatchTypeHelper.countSingles(bulkResp.bulkAddresses)}</td>
                            </tr>
                            <tr>
                                <td>@messages("multi.counter.multiple"): </td>
                                <td class="venus">@{MatchTypeHelper.countMultiples(bulkResp.bulkAddresses)}</td>
                            </tr>
                            <tr>
                                <td>@messages("multi.counter.empty"): </td>
                                <td class="venus">@{MatchTypeHelper.countEmpty(bulkResp.bulkAddresses)}</td>
                            </tr>
                        </table>
                        <div>
                            <div id="dvData">
                                <div class="matched-all-container">
                                    <div id="matched-all-yes" class="matched-all">@messages("multi.table.all.yes")</div>
                                    <div id="matched-all-no" class="matched-all">@messages("multi.table.all.no")</div>
                                </div>
                                <table class="address-result-table-clerical mars">
                                    <thead class="venus">
                                    @tableHeaderHelper(messages("multi.table.id"))
                                    @tableHeaderHelper(messages("multi.table.input.address"))
                                    @tableHeaderHelper(messages("multi.table.matched.address"))
                                    @tableHeaderHelper(messages("multi.table.uprn"))
                                    @tableHeaderHelper(messages("multi.table.match.type"))
                                    @tableHeaderHelper(messages("multi.table.confidence.score"))
                                    @tableHeaderHelper(messages("multi.table.actual.score"))
                                    @tableHeaderHelper(messages("multi.table.rank"))
                                    @tableHeaderHelper(messages("multi.table.matched"))
                                    </thead>
                                    <tbody class="mars">
                                    @for((result, i) <- bulkResp.bulkAddresses.zipWithIndex) {
                                    @defining(MatchTypeHelper.matchType(result.id, bulkResp.bulkAddresses.map(_.id), result.matchedFormattedAddress)) { matchType =>
                                    <tr>
                                        <td>@{result.id}</td>
                                        <td>@{result.inputAddress}</td>
                                        <td>@{if(result.matchedFormattedAddress.isEmpty) { messages("not.found")} else { result.matchedFormattedAddress } } </td>
                                        <td>@{result.uprn}</td>
                                        <td align="center" class="match-type-@matchType">@matchType</td>
                                        <td align="center">@{"%.2f".format(result.confidenceScore)}</td>
                                        <td align="center">@{"%.2f".format(result.underlyingScore)}</td>
                                        <td align="center">@{ScoreHelper.getRank(i, bulkResp)}</td>
                                        <td>
                                            <input type="radio" id="matched-@i-yes" class="matched-yes" name="matched-@i" checked="checked"/> <label for="matched-@i-yes">@messages("multi.table.yes")</label><br>
                                            <input type="radio" id="matched-@i-no" class="matched-no" name="matched-@i" /> <label for="matched-@i-no">@messages("multi.table.no")</label>
                                        </td>
                                    </tr>
                                    }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p><a href="#" id ="export" role="button">Download</a></p>
                        }
                    </section>

                </div>
            </div>


        </div>
    </div>

}
