@(

)(
    implicit
    messages: Messages
)
<div class="index-nav">
    <article class="box-nav-item">
        <a href="@{uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.showSingleMatchPage()}">
            <img style="float:right;" width="280" height="120" src="/assets/images/singlesearch.jpg"/>
            <h4><a href="@{uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.showSingleMatchPage()}">@messages("home.singlehead")</a></h4>
            <p>@messages("home.singlebody")</p>
        </a>
    </article>
</div>