@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation

@(nav: Navigation, linkClass: Option[String])(implicit messages: Messages)

<div class="no-print wrapper">
    <div class="group">
        <div class="col-12 neptune">
            <div id="header-navigation">
                <nav class="nav-container no-print">
                    <ul>
                        @for(link <- nav.links) {
                        <li @if(linkClass.getOrElse() == link.section){class="active"}><a href="@{link.href}">@{link.label}</a></li>
                        }
                    </ul>
                </nav>
                <nav class="nav-container-mobile no-print">
                    <select>
                        <option value="#">@messages("main.goto")</option>
                        @for(link <- nav.links) {
                        <option value="@{link.href}">@{link.label}</option>
                        }
                    </select>
                </nav>
            </div>
        </div>
    </div>

</div>


