@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import play.twirl.api.HtmlFormat

@import uk.gov.ons.addressIndex.model.server.response.postcode.AddressByPostcodeResponse
@(
    postcodeSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.PostcodeSearchForm],
    warningMessage : Option[String],
    pageNum: Int,
    pageSize: Int,
    addressByPostcodeResponse: Option[AddressByPostcodeResponse],
    classification: Option[Map[String,String]],
version: DemoUIAddressIndexVersionModule
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("postcode.title"), version = version, showBannerNavigation = true, showBannerTagline = false, siteSection = Some("postcode"))  {

    <div class="container">

        @warningMessage.map { message =>
        <div class="wrapper">
            <div class="group">
                <div id="warning-message" class="col-6">
                    <div class="warning-error-message venus">A Problem Has Occured</div>
                    <div class="warning-error-suggestion mars" role="alert"><span onclick="setFocus('address');">@message</span></div>
                </div>
            </div>
        </div>
        }

        <section class="match-form-container">
            <div class="wrapper">
                <div class="group">
                    <h1 class="jupiter col-12">@messages("postcode.sfatext")</h1>
                </div>
                <section class='@if(warningMessage){search-error}else{searchbox-results}'>
                    @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.PostcodeController.doMatch) {
                    <div id="search-form" class="search-bar-active">
                        @forms.postcodeForm(postcodeSearchForm, display = "inline", true, "", messages("postcodesearchform.placeholder"), messages("postcodesearchform.labelfilter"), messages("postcodesearchform.placeholderfilter"), messages("postcodesearchform.labelstartdate"), messages("postcodesearchform.placeholderstartdate"), messages("postcodesearchform.labelenddate"), messages("postcodesearchform.placeholderenddate"))
                    </div>
                    }
                </section>
            </div>
        </section>

        <div class="wrapper">
            <div class="group">

                <section class="postcode-match-results-container col-12">
                    <div class="postcode-match-results-count saturn">
                        @addressByPostcodeResponse.map { aresponse =>
                        <div class="standout">@messages("postcode.foundpre") @aresponse.total @messages("postcode.foundpost")</div>
                    </div>
                    <div class="postcode-match-results">

                        @aresponse.addresses.map{ address =>

                            @addressShortForm(
                                address,
                                postcodeSearchForm("filter").value.getOrElse(""),
                                postcodeSearchForm("historical").value.getOrElse("true").toBoolean,
                                5,
                                "all",
                                postcodeSearchForm("startdate").value.getOrElse(""),
                                postcodeSearchForm("enddate").value.getOrElse(""),
                                epoch = "",
                                                               classification
                            )
                        }
                        @pager(pageNum,pageSize,postcodeSearchForm("address").value.getOrElse(""),postcodeSearchForm("filter").value.getOrElse(""),aresponse.total, "postcode", postcodeSearchForm("historical").value.getOrElse("true").toBoolean,5,"all",postcodeSearchForm("startdate").value.getOrElse(""),postcodeSearchForm("enddate").value.getOrElse(""), epoch = "")
                        }
                    </div>
                </section>
            </div>
        </div>
        <div class="feedback-link-container">
            <div class="wrapper">
                <div class="group">
                    <div class="col-12 mars">
                        <a class="mailto" onclick="javascript:window.location='mailto:ai.users@@ons.gov.uk?subject=Individual%20feedback%20on%20Address%20Index%20(postcode%20search)&body=Input: %22@{HtmlFormat.escape(postcodeSearchForm.value.map(_.address.replaceAll("'", "%27").replaceAll("&", "%26")).getOrElse(""))}%22%0D%0A%0D%0AUrl: ' + encodeURIComponent(window.location);" href="#">@messages("feedback.individual_link")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
