@import uk.gov.ons.addressIndex.model.server.response.AddressInformation
@import uk.gov.ons.addressIndex.model.server.response.NAGWithFormat
@import uk.gov.ons.addressIndex.demoui.utils.ClassHierarchy
@(
    singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
    warningMessage : Option[String],
    addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.Results],
    classHierarchy: Option[ClassHierarchy]
)(
    implicit
    messages: Messages
)
@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = messages("single.title")) {

    <div class="container">
        <div class="panel panel-single">
            <div class="panel-heading sub-nav-heading">
                @navigation()
            </div>
            @warningMessage.map { message =>
            <div id="warning-message" class="panel panel-warning address-panel">
                <div class="result-content">
                    <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
                </div>
            </div>
            }
            <div class="panel panel-single address-panel">
                <h3 class="panel-title">@messages("single.sfatext")</h3>
                <div class="panel-body">
                    <input type="file" id="file-bulk-mimic" onchange="mimicBulk(this.files)">
                    @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
                        <div id="search-form" class="search-bar-active">
                                @forms.singleAddressForm(singleSearchForm)
                        </div>
                    }
                </div>
                @addressBySearchResponse.map { aresponse =>
                    <div id="match-count" class="panel panel-single address-panel">
                        <h3 class="green">@aresponse.total @messages("single.found")</h3>
                    </div>
                    @aresponse.addresses.map { x: Seq[AddressInformation] =>
                        @x.map { address: AddressInformation =>
                            <div class="panel panel-match address-panel">
                                <div class="result-content">
                                    <div class="alert alert-success">
                                        <div class="matchResults">
                                            <div class="resultRow">
                                                @partials.addressInformationScore(address)
                                            </div>
                                            <div class="resultRow">
                                                <div class="formattedAdress">
                                                    <strong>@messages("single.address"):</strong>
                                                    <span>@address.nag.flatMap(_.find(_.nag.logicalStatus == "1").map(_.formattedAddress))</span>
                                                </div>
                                            </div>
                                            <div class="resultRow">
                                                <div class="uprn-txt">
                                                    <strong>@messages("single.uprn"):&nbsp;</strong>
                                                    <span>@address.uprn</span>
                                                </div>
                                            </div>
                                            <div class="resultRow">
                                                @defining(
                                                    address.nag.flatMap { nagSeq: Seq[NAGWithFormat] =>
                                                        nagSeq.flatMap { nag: NAGWithFormat =>
                                                            classHierarchy.map { cH: ClassHierarchy =>
                                                                cH.analyseClassCode(nag.nag.classificationCode)
                                                            }
                                                        }.headOption
                                                    }
                                                ) { optClassificationCode: Option[String] =>
                                                    <div class="classification">
                                                        <strong>Classification:</strong>
                                                        <span>@optClassificationCode.getOrElse(messages("category.R"))</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="panel panel-single address-panel">
                <p class="pad">&nbsp;</p>
            </div>
        </div>
    </div>
}