@(singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm], warningMessage : Option[String], addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressBySearchResponse])(implicit messages: Messages)
@import helper._

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@main(title = messages("single.title")) {
<div class="container">
    <div class="panel panel-single">
        <div class="panel-heading sub-nav-heading">
        @navigation()
        </div>
        @warningMessage.map { message =>
        <div class="panel panel-warning address-panel">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
            </div>
        </div>
        }
        <div class="panel panel-single address-panel">
            <h3 class="panel-title">@messages("single.sfatext")</h3>
            <div class="panel-body">
                @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
                <div class="search-bar-active">
                        @forms.singleAddressForm(singleSearchForm)
                </div>
                }
            </div>
            @addressBySearchResponse.map { aresponse =>
            <div class="panel panel-single address-panel">
                <h3 class="green">@aresponse.total @messages("single.found")</h3>
            </div>
            @aresponse.addresses.map{ address =>
            <div class="panel panel-match address-panel">
                <div class="result-content">
                    <div class="alert alert-success">
                        <div class="matchResults">
                            <div class="resultRow">
                                  <div class="match-conf">@messages("single.matchscore"): @("%.2f".format(address.underlyingScore))
                                    (
                                    @defining(if ((address.underlyingScore / address.underlyingMaxScore) * 100 > 70) "#c6ffb3" else "#ffcccc") { color =>
                                    <span style="background-color: @color">
                                    }
                                    @{("%.2f".format((address.underlyingScore / address.underlyingMaxScore) * 100))}</span>%)</div>
                            </div>
                            <div class="resultRow">
                                <div class=formattedAdress"><strong>@messages("single.address"): </strong>
                                @if(address.formattedAddress isEmpty){
                                    @address.paf.map{ paf =>
                                    @paf.buildingName &nbsp;
                                    @paf.buildingNumber,
                                    @paf.thoroughfare,
                                    @paf.dependentLocality
                                    @paf.postTown,
                                    @paf.postcode
                                    }
                                } else {
                                    @address.formattedAddress
                                }
                                </div>
                            </div>
                            <div class="resultRow">
                                <div class="uprn-txt"><strong>@messages("single.uprn"): </strong>&nbsp;@address.uprn</div>
                                @if(address.geo.isEmpty){
                                    <div class="map-link-txt">
                                        <a href="https://maps.google.com/?q=@address.paf.map{paf=>50.855,-1.18@paf.buildingNumber&ll=50.855,-1.18@paf.buildingNumber&z=20&t=h}" target="_blank">Open Map</a></td>
                                    </div>
                                } else {
                                    <div class="map-link-txt">
                                        <a href="https://maps.google.com/?q=@address.geo.map{geo=>@geo.latitude,@geo.longitude&ll=@geo.latitude,@geo.longitude&z=20&t=h}" target="_blank">Open Map</a></td>
                                    </div>
                                }
                            </div>
                            <div class="resultRow">
                                <div class="classification"><strong>Classification: </strong>
                                    @if(address.nag.isEmpty){
                                        @messages("category.R")
                                    } else {
                                        @address.nag.map{ nag =>
                                        @nag.classificationCode
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
            }
        </div>
        <div class="panel panel-single address-panel">
            <p class="pad">&nbsp;</p>
        </div>
    </div>
</div>
}
