@import helper._
@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.model.ui.Links
@import uk.gov.ons.addressIndex.demoui.views.ScoreHelper
@import uk.gov.ons.addressIndex.demoui.views.html.main

@(
        singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
        warningMessage: Option[String],
        pageNum: Int,
        pageSize: Int,
        pageMax: Int,
        addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressBySearchResponse],
        classification: Option[Map[String, String]]
)(implicit messages: Messages)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(title = messages("single.title")) {
    <script src="/assets/javascripts/jquery-3.2.0.min.js"></script>

    <script>
            $(function () {
                $(".formatted-nag-button").click(function (e) {
                    $(this).addClass("formatted-button-active");
                    var parent = $(this).closest(".resultRow");
                    parent.find(".formatted-paf-button").removeClass("formatted-button-active");
                    var parent2 = $(parent).next(".resultRow");
                    parent2.find(".formatted-nag").show();
                    parent2.find(".formatted-paf").hide();
                    e.preventDefault()
                });

                $(".formatted-paf-button").click(function (e) {
                    $(this).addClass("formatted-button-active");
                    var parent = $(this).closest(".resultRow");
                    parent.find(".formatted-nag-button").removeClass("formatted-button-active");
                    var parent2 = $(parent).next(".resultRow");
                    parent2.find(".formatted-paf").show();
                    parent2.find(".formatted-nag").hide();
                    e.preventDefault()
                });
            });
    </script>

    <div class="container">
        <div class="panel panel-single">
            <div class="panel-heading sub-nav-heading">
            @navigation(Navigation.default)
            </div>
            @warningMessage.map { message =>
                <div id="warning-message" class="panel panel-warning address-panel">
                    <div class="result-content">
                        <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
                    </div>
                </div>
            }
            <div class="panel panel-single address-panel">
                <h3 class="panel-title">@messages("single.sfatext")</h3>
                <div class="panel-body">
                @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
                    <div id="search-form" class="search-bar-active">
                    @forms.singleAddressForm(singleSearchForm)
                    </div>
                }
                </div>
                @addressBySearchResponse.map { aresponse =>
                    <div id="match-count" class="panel panel-single address-panel">
                        <h3 class="green">@aresponse.total @messages("single.found")</h3>
                    </div>
                @aresponse.addresses.map { address =>
                    <div class="panel panel-match address-panel">
                        <div class="result-content">
                            <div class="alert alert-success">
                                <div class="matchResults">
                                    <div class="resultRow">
                                        <div class="paf-nag-switch-buttons">
                                            <span class="formatted-nag-button formatted-button-active">LA</span>
                                            <span class="formatted-paf-button">PAF</span>
                                        </div>
                                        <div class="match-conf">@messages("single.matchscore"): @("%.2f".format(address.underlyingScore))
                                            (
                                            @defining(if(ScoreHelper.getPercentageFromScore(address.underlyingScore, aresponse.maxScore) > 70) "#c6ffb3" else "#ffcccc") { color =>
                                                <span style="background-color: @color">
                                            }
                                            @{
                                                "%.2f".format((address.underlyingScore / aresponse.maxScore) * 100)
                                            }</span>%)
                                        </div>
                                    </div>
                                    <div class="resultRow">
                                        <div>
                                            <strong>@messages("single.address"): </strong>
                                            <span class="formatted-nag">@address.formattedAddressNag &nbsp;</span>
                                            <span style="display: none" class="formatted-paf">@address.formattedAddressPaf &nbsp;</span>
                                            <span class='@address.nag.map { nag => @messages("logical.class" + nag.logicalStatus) }'
                                            title='@address.nag.map { nag => @messages("logical." + nag.logicalStatus) }'>
                                                    &nbsp;@address.nag.map { nag => @messages("logical.letter" + nag.logicalStatus) }&nbsp;
                                            </span>
                                        </div>
                                    </div>
                                    <div class="resultRow">
                                        <div class="uprn-txt"><strong>@messages("single.uprn")
                                            : </strong>&nbsp;@address.uprn</div>
                                        @if(address.geo.isEmpty) {
                                            @if(address.nag.isEmpty) {
                                                <div class="map-link-txt">
                                                    <a href="https://maps.google.com/?q=@address.paf.map { paf =>50.855,-1.18@paf.buildingNumber&ll=50.855,-1.18@paf.buildingNumber&z=20&t=h }" target="_blank">@messages("single.openmap")</a>
                                                </div>
                                            } else {
                                                <div class="map-link-txt">
                                                    <a href="https://maps.google.com/?q=50.855,-1.187&ll=50.855,-1.187&z=20&t=h" target="_blank">@messages("single.openmap")</a>
                                                </div>
                                            }
                                        } else {
                                            <div class="map-link-txt">
                                                <a href="https://maps.google.com/?q=@address.geo.map { geo => @geo.latitude,@geo.longitude&ll=@geo.latitude,@geo.longitude&z=20&t=h }" target="_blank">@messages("single.openmap")</a>
                                            </div>
                                        }
                                    </div>
                                    <div class="resultRow">
                                        <strong>@messages("single.classification"): </strong>
                                        @if(address.nag.isEmpty) {
                                            @messages("category.notfound")
                                        } else {
                                            @address.nag.map { nag =>
                                                @classification.getOrElse(Map.empty).getOrElse(nag.uprn, "")
                                            }
                                        }
                                    </div>
                                    <div class="resultRow">
                                        <strong>@messages("clerical.la"):</strong>
                                        <span class="formatted-nag"> @address.nag.map { nag => @nag.localCustodianName }
                                            | @address.nag.map { nag => @nag.localCustodianGeogCode }</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @pager(pageNum, pageSize, pageMax, singleSearchForm("address").value.getOrElse(""), aresponse.total, "single")
                }
            </div>
            <div class="panel panel-single address-panel">
                <p class="pad">&nbsp;</p>
            </div>
        </div>
    </div>
}