@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@import play.twirl.api.HtmlFormat

@(
singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
filter: Option[String],
rangekm: Option[String],
lat: Option[String],
lon: Option[String],
historical: Boolean,
warningMessage : Option[String],
pageNum: Int,
pageSize: Int,
pageMax: Int,
addressBySearchResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressBySearchResponse],
classification: Option[Map[String,String]],
version: DemoUIAddressIndexVersionModule
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("single.title"), version = version, showBannerNavigation = true, showBannerTagline = true, siteSection = Some("single"))  {



<div class="container">
    <div class="wrapper">
        <div class="group">
            <div class="col-12">
                <h1 class="jupiter">@messages("single.sfatext")</h1>
            </div>
        </div>
        <div class="group">
            <div class="col-6">
                <section class="infobox-standard mars">
                    <p>@messages("single.intro")</p>
                </section>
            </div>
        </div>

        <section class="searchbox-initial">
            @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
            <div id="search-form" class="search-bar-active">
                @forms.singleAddressForm(singleSearchForm, display = "stacked", false, messages("singlesearchform.placeholder"), messages("singlesearchform.labelfilter"), messages("singlesearchform.placeholderfilter"))
            </div>
            }
        </section>

    </div>
</div>
}