@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@(
singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
warningMessage : Option[String],
addressByUprnResponse: Option[uk.gov.ons.addressIndex.model.server.response.uprn.AddressByUprnResponse],
classification: Option[Map[String,String]],
version: DemoUIAddressIndexVersionModule,
isClerical: Boolean
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("single.title"), version = version, showBannerNavigation = true, showBannerTagline = false, siteSection = Some("single")) {

<div class="container">

    @warningMessage.map { message =>
        <div class="wrapper">
            <div class="group">
                <div id="warning-message" class="col-6">
                    <div class="warning-error-message venus">A Problem Has Occured</div>
                    <div class="warning-error-suggestion mars" role="alert"><span onclick="setFocus('address');">@message</span></div>
                </div>
            </div>
        </div>
    }

    <section class="match-form-container">
        <div class="wrapper">
            <div class="group">
                <h1 class="jupiter col-12">@messages("single.sfatext")</h1>
            </div>
            <section class='@if(warningMessage){search-error}else{searchbox-results}'>
                @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
                <div id="search-form" class="search-bar-active">
                    @forms.singleAddressForm(singleSearchForm, display = "inline", true, messages("singlesearchform.placeholder"), messages("singlesearchform.labelfilter"), messages("singlesearchform.placeholderfilter"), messages("singlesearchform.labelstartdate"), messages("singlesearchform.placeholderstartdate"), messages("singlesearchform.labelenddate"), messages("singlesearchform.placeholderenddate"),false)
                </div>
                }
            </section>
        </div>
    </section>

    <div class="wrapper">

        <div class="group">
            <section class="match-results-container col-12">
                <div class="match-results-count saturn">
                    @addressByUprnResponse.map { aresponse =>
                    @if(aresponse.address.isEmpty){
                    <div class="standout">@messages("uprn.notfound")</div>
                    } else {
                    <div class="standout">@messages("uprn.found")</div>
                    }
                </div>
                <div class="match-results">

                    @aresponse.address.map{ address =>

                    @addressShortForm(
                    address,
                    singleSearchForm("filter").value.getOrElse(""),
                    singleSearchForm("historical").value.getOrElse("true").toBoolean,
                    5,
                    "all",
                    singleSearchForm("startdate").value.getOrElse(""),
                    singleSearchForm("enddate").value.getOrElse(""),
                    epoch = "",
                    classification,
                    isClerical = isClerical,
                    index = -1,
                    expandRow = -1
                    )
                    }
                    }
                </div>
            </section>
        </div>
    </div>
</div>

}
