@import uk.gov.ons.addressIndex.demoui.model.ui.Navigation
@import uk.gov.ons.addressIndex.demoui.modules.DemoUIAddressIndexVersionModule
@(
singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm],
filter: Option[String],
historical: Boolean,
warningMessage : Option[String],
addressByUprnResponse: Option[uk.gov.ons.addressIndex.model.server.response.AddressByUprnResponse],
classification: Option[Map[String,String]],
version: DemoUIAddressIndexVersionModule,
isClerical: Boolean,
apiUrl: String = "",
apiKey: String = ""
)(implicit messages: Messages)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@main(title = messages("single.title"), version = version, showBannerNavigation = true, showBannerTagline = false, siteSection = Some("single")) {

<div class="container">

    <section class="match-form-container">
        <div class="match-form">
            <h1 class="match-title">@messages("single.sfatext")</h1>

            <section class="searchbox-results">
                @helper.form(action = uk.gov.ons.addressIndex.demoui.controllers.routes.SingleMatchController.doMatch) {
                <div id="search-form" class="search-bar-active">
                    @forms.singleAddressForm(singleSearchForm, display = "inline", false, messages("singlesearchform.placeholder"), messages("singlesearchform.labelfilter"), messages("singlesearchform.placeholderfilter"))
                </div>
                }
            </section>

        </div>
    </section>

    <div class="content-container">

        @warningMessage.map { message =>
        <div id="warning-message">
            <div class="result-content">
                <div class="alert alert-danger" role="alert"><span class="error" onclick="setFocus('address');">@message</span></div>
            </div>
        </div>
        }

        <section class="match-results-container">
            <div class="match-results-count">
                @addressByUprnResponse.map { aresponse =>
                @if(aresponse.address.isEmpty){
                <div class="standout">@messages("uprn.notfound")</div>
                } else {
                <div class="standout">@messages("uprn.found")</div>
                }
            </div>
            <div class="match-results">

                @aresponse.address.map{ address =>

                @addressShortForm(
                address,
                singleSearchForm("filter").value.getOrElse(""),
                singleSearchForm("historical").value,
                address.underlyingScore,
                classification,
                isClerical = isClerical,
                index = -1,
                expandRow = -1,
                apiUrl = apiUrl,
                apiKey = apiKey
                )
                }
                }
            </div>
        </section>

    </div>
</div>
}