@(singleSearchForm: Form[uk.gov.ons.addressIndex.demoui.model.SingleSearchForm], display: String, showfilter: Boolean, placeholder: String, labelfilter: String, placeholderfilter: String, labelstartdate: String, placeholderstartdate: String, labelenddate: String, placeholderenddate: String, showNisra: Boolean)(implicit messages: Messages)
@import helper._

<fieldset class="searchfield venus">
    <div class="group">
        @if(display == "inline") {
        <div class="col-8">
            <div class="searchfield-searchinput">
                @inputText(
                singleSearchForm("address"),
                args = '_id -> "numberOrName",
                'class -> "form-control mars",
                '_label -> "",
                'placeholder -> placeholder
                )
            </div>
        </div>
        <div class="col-2">
            <dl style="padding: 0.4rem 0;">
                <input type="submit" id="submit" class="neptune" value='@messages("single.searchbut")' />
            </dl>
        </div>
        } else {
        <div class="col-6">
            <div class="searchfield-searchinput">
                @inputText(
                singleSearchForm("address"),
                args = '_id -> "numberOrName",
                'class -> "form-control mars",
                '_label -> "",
                'placeholder -> placeholder
                )
            </div>

            <input type="submit" id="submit" class="neptune" value='@messages("single.searchbut")' />

        </div>

        }
    </div>

    @if(showfilter == true) {
        <div class="searchfield-searchfilter group">

            <div class="col-4">
                @inputText(
                singleSearchForm("filter"),
                args = '_id -> "presetOrCode",
                'class -> "form-control mars",
                '_label -> labelfilter,
                'placeholder -> placeholderfilter
                )
            </div>

            <div class="col-4">
                @inputRadioGroup(
                singleSearchForm("historical"),
                options = Seq("true"->"Yes","false"->"No"),
                'class -> "form-control mars",
                '_label -> "Include historical data?",
                '_help -> "Historical data is included by default")
            </div>

            <div class="col-4">
                @select(
                singleSearchForm("matchthreshold"),
                options = Seq("0"->"0","1"->"1","2"->"2","3"->"3","5"->"5","10"->"10","25"->"25","50"->"50"),
                'class -> "form-control mars",
                '_label -> "Minimum match %",
                '_default -> "Select",
                '_help -> "Match score must be greater than this")
            </div>

        </div>
    }
    @if(showNisra == true) {
        <div class="group">

            <div class="col-8">
                @inputRadioGroup(
                singleSearchForm("fromsource"),
                options = Seq("all"->"All","nionly"->"NI Only","niboost"->"NI Boost","ewonly"->"EW Only","ewboost"->"EW Boost"),
                'class -> "form-control mars",
                '_label -> "NISRA boost setting")
            </div>

            <div class="col-3">
                @inputRadioGroup(
                singleSearchForm("partial"),
                options = Seq("true"->"Yes","false"->"No"),
                'class -> "form-control mars",
                '_label -> "Use partial endpoint",
                '_help -> "Yes for typeahead")
            </div>

        </div>
    }
</fieldset>

